{% extends "layout_staff.html" %}

{% block pageTitle %}
  Apply for new style Employment and Support Allowance
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-6"></div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Version 4 – tested on 30&nbsp;May in Burnley</h1>

    <h2 class="govuk-heading-l">Changes in this version</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Removed ‘upload their claim to DRS’ step</li>
      {# <li>Added full application information on the page under a new tab</li> #}
      <li>Made the ‘Special rules’ label more prominent</li>
      <li>Changed 'claim' and 'claimant' to 'application' and 'applicant' in all cases to test whether the distinction was important and understood by users (it is a legal distinction - an application becomes a claim once they've attended their appointment and signed their claimant commitment)</li>
      <li>Added PDF link on claim summary screen</li>
    </ul>

    <h2 class="govuk-heading-l">Screens to test</h2>

    <h3 class="govuk-heading-m">Inbox checkers</h3>

    <ol class="govuk-list govuk-list--number">
      <li><a href="v4/search?nino=QQ123456C">Attended interview, all documentation is present</a></li>
      <li><a href="v4/search?nino=QQ111111Z">Another attended interview, all documentation is present</a></li>
      <li><a href="v4/search?nino=QQ001122A">Attended interview, pension details missing</a></li>
      <li><a href="v4/search?nino=QQ123456Z">No matches for the National Insurance number</a></li>
{#       <li><a href="v4/search?nino=QQ111122B">Failed to attend</a></li> #}
      <li><a href="v4/search?nino=MM001122A">National Insurance number returns multiple applications</a></li>
      <li><a href="v4/search?nino=QQ112233A">Special rules case</a></li>
{#       <li><a href="v4/search?nino=QQ112233M">Previously marked as failed to attend</a></li> #}
      <li><a href="v4/search?nino=QQ112233Z">Unable to verify</a></li>
{#       <li><a href="v4/search?nino=QQ111122G">Failed to attend for the second time</a></li> #}
      <li><a href="v4/search?nino=QQ121212A">No matches for the National Insurance number (claimant never filled out application form</a></li>
    </ol>

    <h3 class="govuk-heading-m">Registration team</h3>

    <ol class="govuk-list govuk-list--number">
      <li><a href="v4/search?nino=QQ222233V">Verified example</a></li>
    </ol>

{#     <h3 class="govuk-heading-m">Processors</h3>

    <ol class="govuk-list govuk-list--number">
      <li><a href="pdf-application">PDF application</a></li>
    </ol> #}

    <h2 class="govuk-heading-l">What we learned</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Further evidence for having full claim form details as part of the same page vs. separate browser tab</li>
      <li>The tracker team assumed that marking the application as ‘verified’ would be something that the work coaches would do</li>
      <li>Using the word ‘application’ instead of ‘claim‘ didin’t seem to make a difference (both were understood)</li>
      <li>Participants told us that having the full application on the page instead of opening up a PDF would be more useful</li>
      <li>The layout of the PDF was well received</li>
      <li>The ‘Special rules’ banner was immediately noticed</li>
    </ul>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
