
{% extends "layout_staff.html" %}

{% block pageTitle %}
  Find an applicant - Apply for new style Employment and Support Allowance
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-bottom-6"></div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half">

    <h1 class="govuk-heading-l">Find an application</h1>
    <form action="/v4/search-entry" method="post">
      <div class="govuk-form-group">
        <label class="govuk-label" for="search">
          Enter the claimant’s National Insurance number
        </label>
        <input class="govuk-input govuk-input--width-20" id="search" name="search" type="text" autocomplete="off" value="{% if getData.nino %}{{getData.nino}}{% endif %}">
      </div>

      <button type="submit" class="govuk-button">
        Find application
      </button>

    </form>
  </div>{# /govuk-grid-column-one-half #}

</div>{# /govuk-grid-row #}

{% endblock %}