
{% extends "layout_staff.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="/v5/" rel="prev" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Manage duplicate and old applications</h1>

    <ul class="govuk-tabs__list">
      
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="applications-duplicate-ninos">
          Duplicate National Insurance numbers
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="applications-old">
          More than 1 month old
        </a>
      </li>
    </ul>

{#     <p style="width: 70%; position: relative; clear: both; top: 25px; margin-bottom: 45px">If an application can be removed, update the claim status to ‘discarded’.</p> #}

        <p style="width: 70%; position: relative; clear: both; top: 25px; margin-bottom: 15px">&nbsp;</p>

    <div style="clear: both"></div>

    <div class="table-scrollable-wrapper">

      <table cellspacing="0" width="100%" class="govuk-table">
        <thead>
          <tr>
            <th class="govuk-table__header" style="width: 21%;"><span>Date submitted</span></th>
            <th class="govuk-table__header"><span>Name</span></th>
            <th class="govuk-table__header"><span>National Insurance number</span></th>
            <th class="govuk-table__header"><span class="govuk-visually-hidden">Considerations</span></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">31 March, 9:05am</td>
            <td class="govuk-table__cell">
              <a href="applicant?nino=QQ123456C&status=unverified&sr=true">
                <span class="table-link">Fred Flintstone</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ123456C</td>
            <td class="govuk-table__cell">
              <div class="govuk-warning-text" style="margin-bottom: 0; padding: 0">
              <span class="govuk-warning-text__icon" aria-hidden="true" style="border: none; font-size: 20px; margin-top: -18px">!</span>
                <strong class="govuk-warning-text__text" style="padding-left: 42px">
                  <span class="govuk-warning-text__assistive">Warning</span>Special rules
                </strong>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">31 March, 9:45am</td>
            <td class="govuk-table__cell">
              <a href="applicant?nino=QQ123456C&status=unverified&sr=true">
                <span class="table-link">Fred Flintstone</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ123456C</td>
            <td class="govuk-table__cell">
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">1 April, 8:14pm</td>
            <td class="govuk-table__cell">
              <a href="applicant">
                <span class="table-link">Jimmy Olsen</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ654321Q</td>
            <td class="govuk-table__cell">
              <div class="govuk-warning-text" style="margin-bottom: 0; padding: 0">
              <span class="govuk-warning-text__icon" aria-hidden="true" style="border: none; font-size: 20px; margin-top: -18px">!</span>
                <strong class="govuk-warning-text__text" style="padding-left: 42px">
                  <span class="govuk-warning-text__assistive">Warning</span>Special rules
                </strong>
              </div>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">13 March, 9:05am</td>
            <td class="govuk-table__cell">
              <a href="applicant">
                <span class="table-link">Barney Rubble</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ654321Q</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">15 March, 4:09am</td>
            <td class="govuk-table__cell">
              <a href="applicant">
                <span class="table-link">Daffy Duck</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ222222Q</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">15 March, 4:10am</td>
            <td class="govuk-table__cell">
              <a href="applicant">
                <span class="table-link">Daffy Duck</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ222222Q</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 March, 8:00am</td>
            <td class="govuk-table__cell">
              <a href="applicant">
                <span class="table-link">Minnie Mouse</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ333333Q</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 March, 8:13am</td>
            <td class="govuk-table__cell">
              <a href="applicant">
                <span class="table-link">Minnie Mouse</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ333333Q</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">30 March, 9:00am</td>
            <td class="govuk-table__cell">
              <a href="applicant">
                <span class="table-link">Minnie Mouse</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ333333Q</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">31 March, 7:40pm</td>
            <td class="govuk-table__cell">
              <a href="applicant">
                <span class="table-link">Minnie Mouse</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ333333Q</td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
      </table>

    </div>{# /table-scrollable-wrapper #}
    
  </div>{# /govuk-grid-column-full #}

</div>{# /govuk-grid-row #}

{% endblock %}