{% extends "layout_staff_v1.html" %}

{% block pageTitle %}
  Claim summary - Fred Flintstone - Apply for ‘new style’ Employment and Support Allowance
{% endblock %}

{% set bodyClasses = "hero-header" %}

{% block content %}

{% include "v5/_header.html" %}

<div style="margin-bottom: 30px;">
  {% if origin === "cancelled" %}
      <a href="/v5/applications-cancelled" class="govuk-back-link">Back</a>
    {% elif origin === "duplicates" %}
      <a href="/v5/applications-duplicate-ninos" class="govuk-back-link">Back</a>
    {% else %}
      <a href="/v5/home" class="govuk-back-link">Back</a>
    {% endif %}
</div>

<div class="govuk-grid-row container">

  <div class="govuk-grid-column-two-thirds">

    {% if getData.status === "cancelled" %}
      <div class="blue-border">
        <h2 class="govuk-heading-m">Cancelled by Dave Smith, 9 June, 5:00pm</h2>
        <h3 class="govuk-heading-s" style="margin-bottom: 0">Reason</h3> 
        <p>Duplicate claim</p>
        <h3 class="govuk-heading-s" style="margin-bottom: 0">Notes</h3> 
        <p>Fred had submitted 2 claim forms. I called him up on 9 June at 4:30 and he told me to use the second one.</p>
{#         <a href="applicant?nino={{getData.nino}}&amp;status=unverified" class="govuk-button secondary" style="margin-bottom: 0;">Remove ‘cancelled’ status</a> #}
      </div>
      <br>
    {% endif %}

    {% if getData.sr %}
    <div class="orange-border">
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Special rules
        </strong>
      </div>
    </div>
    {% endif %}

    <div class="govuk-tabs" data-module="govuk-tabs" style="margin-bottom: 0;">

      <h2 class="govuk-tabs__title">Contents</h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#summary">
            Summary
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#full">
            Full claim
          </a>
        </li>
      </ul>

      <section class="govuk-tabs__panel" id="summary" style="border: none; padding-left: 0; padding-right: 0; margin-bottom: 0; padding-bottom: 0">
        {% include "v5/_applicant-QQ123456C.html" %}
      </section>

      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="full" style="border: none; padding-left: 0; padding-right: 0; margin-bottom: 0; padding-bottom: 0">
        {% include "v5/answers/_answers-dates.html" %}
        {% include "v5/answers/_answers-personal-details.html" %}
        {% include "v5/answers/_answers-paid-work.html" %}
        {% include "v5/answers/_answers-voluntary-work.html" %}
        {% include "v5/answers/_answers-pensions-health-insurance.html" %}
        {% include "v5/answers/_answers-statutory-pay.html" %}
        {% include "v5/answers/_answers-health-conditions.html" %}
        {% include "v5/answers/_answers-consent-to-request.html" %}
        {% include "v5/answers/_answers-payment-method.html" %}
      </section>
      
    </div>{# /govuk-tabs #}

    <p style="margin-top: -30px"><a href="/public/pdf/application.pdf" target="_blank" >View PDF claim form (opens new tab)</a></p>

    <br>
    <br>

  </div>{# /govuk-grid-column-two-thirds #}



  {% if getData.status === "cancelled" %}
  {% else %}
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items status-verified" role="complementary">
        <h3 class="govuk-heading-m" id="claim-actions-title">Claim actions</h3>
        <a href="status?nino={{getData.nino}}&amp;status={{getData.status}}" class="govuk-button">Change claim status</a>
      </aside>
    </div>{# /govuk-grid-column-one-third #}
  {% endif %}

</div>{# /govuk-grid-row #}

{% endblock %}