
{% extends "layout_staff_v1.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="/v5/" rel="prev" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Manage duplicate and old applications</h1>

    <ul class="govuk-tabs__list">
      
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab" href="applications-duplicate-ninos">
          Duplicate National Insurance numbers
        </a>
      </li>
      <li class="govuk-tabs__list-item">
        <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="applications-old">
          More than 1 month old
        </a>
      </li>
    </ul>

    <p style="width: 70%; position: relative; clear: both; top: 25px; margin-bottom: 0px">&nbsp;</p>

{#     <p>Check if contact has been made with the claimant in the last 30 days. If no contact has been made, you can update the claim status to ‘failed to attend’.</p> #}

    <h2 class="govuk-heading-m">Hull – Britannia House</h2>

    <p>Contact number: XXXX XXX XXXX</p>

    <table cellspacing="0" width="100%" class="govuk-table">
      <thead>
        <tr>
          <th class="govuk-table__header" style="width: 21%;"><span>Date submitted</span></th>
          <th class="govuk-table__header" style="width: 22%;"><span>Name</span></th>
          <th class="govuk-table__header"><span>National Insurance number</span></th>
          <th class="govuk-table__header"><span class="govuk-visually-hidden">Considerations</span></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">31 March, 9:05am</td>
          <td class="govuk-table__cell">
            <a href="applicant?nino=QQ123456C&status=unverified&sr=true">
              <span class="table-link">Fred Flintstone</span>
            </a>
          </td>
          <td class="govuk-table__cell">QQ123456C</td>
          <td class="govuk-table__cell">
            <div class="govuk-warning-text" style="margin-bottom: 0; padding: 0">
            <span class="govuk-warning-text__icon" aria-hidden="true" style="border: none; font-size: 20px; margin-top: -18px">!</span>
              <strong class="govuk-warning-text__text" style="padding-left: 42px">
                <span class="govuk-warning-text__assistive">Warning</span>Special rules
              </strong>
            </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1 April, 8:14pm</td>
          <td class="govuk-table__cell">
            <a href="applicant">
              <span class="table-link">Jimmy Olsen</span>
            </a>
          </td>
          <td class="govuk-table__cell">QQ654321Q</td>
          <td class="govuk-table__cell">
            <div class="govuk-warning-text" style="margin-bottom: 0; padding: 0">
            <span class="govuk-warning-text__icon" aria-hidden="true" style="border: none; font-size: 20px; margin-top: -18px">!</span>
              <strong class="govuk-warning-text__text" style="padding-left: 42px">
                <span class="govuk-warning-text__assistive">Warning</span>Special rules
              </strong>
            </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">13 March, 9:05am</td>
          <td class="govuk-table__cell">
            <a href="applicant">
              <span class="table-link">Barney Rubble</span>
            </a>
          </td>
          <td class="govuk-table__cell">QQ654321Q</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">15 March at 4:09am</td>
          <td class="govuk-table__cell">
            <a href="applicant">
              <span class="table-link">Daffy Duck</span>
            </a>
          </td>
          <td class="govuk-table__cell">QQ222222Q</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">15 March, 8:13am</td>
          <td class="govuk-table__cell">
            <a href="applicant">
              <span class="table-link">Minnie Mouse</span>
            </a>
          </td>
          <td class="govuk-table__cell">QQ333333Q</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">16 March, 10:00am</td>
          <td class="govuk-table__cell">
            <a href="applicant">
              <span class="table-link">Sponge Bob</span>
            </a>
          </td>
          <td class="govuk-table__cell">QQ987654Q</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>

    <br>
    <br>

    <h2 class="govuk-heading-m">Rotherham Jobcentre Plus</h2>

    <p>Contact number: XXXX XXX XXXX</p>

    <table cellspacing="0" width="100%" class="govuk-table">
      <thead>
        <tr>
          <th class="govuk-table__header" style="width: 21%;"><span>Date submitted</span></th>
          <th class="govuk-table__header" style="width: 22%;"><span>Name</span></th>
          <th class="govuk-table__header"><span>National Insurance number</span></th>
          <th class="govuk-table__header"><span class="govuk-visually-hidden">Considerations</span></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">16 March, 11:43am</td>
          <td class="govuk-table__cell">
            <a href="applicant">
              <span class="table-link">Snow White</span>
            </a>
          </td>
          <td class="govuk-table__cell">QQ444444Q</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">17 March, 4:09pm</td>
          <td class="govuk-table__cell">
            <a href="applicant">
              <span class="table-link">Donald Duck</span>
            </a>
          </td>
          <td class="govuk-table__cell">QQ765365Q</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">17 March, 9:38pm</td>
          <td class="govuk-table__cell">
            <a href="applicant">
              <span class="table-link">Donald Duck</span>
            </a>
          </td>
          <td class="govuk-table__cell">QQ765365Q</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">17 March, 11:52pm</td>
          <td class="govuk-table__cell">
            <a href="applicant">
              <span class="table-link">Santa Claus</span>
            </a>
          </td>
          <td class="govuk-table__cell">QQ111111Q</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>
    
  </div>{# /govuk-grid-column-full #}

</div>{# /govuk-grid-row #}

{% endblock %}