{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "v5/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "v5/_service-name.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Digital claims</h1>

    <h2 class="govuk-heading-m">Find a claim</h2>

    <form action="/v5/applicant?nino=QQ123456C&status=unverified" method="post">
      <div class="govuk-form-group" style="margin-bottom: 10px">
        <label class="govuk-label" for="search">
          Enter the claimant’s National Insurance number or name
        </label>
        <input class="govuk-input govuk-input--width-20" id="search" name="search" type="text" autocomplete="off" value="{% if getData.nino %}{{getData.nino}}{% endif %}">
        <a class="govuk-button search" href="/v5/applicant?origin=find&nino=QQ123456C&status=unverified">Find application</a>
      </div>
    </form>

    <h2 class="govuk-heading-m">Manage claims</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/v5/applications-duplicate-ninos?origin=duplicates">Check if you need to cancel any claims</a></li>
      <li><a href="/v5/applications-cancelled?origin=cancelled">View recently cancelled claims</a></li>
    </ul>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}