{% extends "layout_staff_master.html" %}

{% block pageTitle %}
  Apply for new style Employment and Support Allowance
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="/proto-index" rel="prev" class="govuk-back-link">Back to prototypes for testing in user research</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Version 5 – built for exploration and feedback from stakeholders</h1>

    <h2 class="govuk-heading-m">Changes in this version</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Added option to search by name</li>
      <li>Updated language for PDF application form link</li>
      <li>Updated verification check box language to: ‘The work coach has told us the claimant has proved their identity and signed their claimant commitment.’</li>
      <li>Added full application information on the page</li>
      <li>Added ability to cancel applications (duplicates, no contact, withdrawn)</li>
      <li>Added fail to attend status</li>
      <li>Added way to view recently cancelled applications</li>
      <li>Added way to view applications that have a duplicate National INsurance number</li>
      <li>Added way to view applications that are more than 1 month old</li>
    </ul>

    <h2 class="govuk-heading-m">Screens to test</h2>

    <h3 class="govuk-heading-s">Inbox checkers</h3>

    <ol class="govuk-list govuk-list--number">
      <li><a href="/v5/home?nino=QQ123456C">Start screen (pre-populated unverified NINO)</a></li>
    </ol>

    <h2 class="govuk-heading-m">What we learned</h2>

    <p>Concern regarding the wording ‘cancelling’ of application. Any claim submitted must be decided upon unless withdrawn.</p>

    <p>If a claim form is incomplete, legislation allows this to be corrected by the decision maker if they are able to contact the claimant by an appropriate means – phone, email etc otherwise it would be disallowed as defective.</p>
    <p>If the claimant fails to sign the claimant commitment or fails to participate in an interview then the claim would be disallowed for the appropriate reason as per the legislation.</p>
 
    <p>In relation to duplicate claims, a claim ceases to exist once it has been decided by the decision maker.  If a claim is disallowed the decision disallowing it cannot be superseded because of a change in circumstances which occurred after the decision - a further claim may be made as a result of the change of circumstances. If a claim is allowed and a further claim is received the decision maker should consider whether or not to admit it in order to establish whether an application is hopeless and if admitted the decision maker should either make a decision to supersede where the outcome is changed or make a decision not to supersede where the outcome is not changed. NB If the application is not admitted because it is hopeless, the decision maker should notify the claimant that no decision has been made and there is no right of appeal.</p>

{#     <ul class="govuk-list govuk-list--bullet">
      <li>Concern regarding the wording ‘cancelling’ of application. Any claim submitted must be decided upon unless withdrawn.</li>
      <li></li>
    </ul> #}
    
  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}