{% extends "layout_staff.html" %}

{% block pageTitle %}
  Apply for new style Employment and Support Allowance
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-6"></div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Version 5 – to be tested via Skype with members of the Burnley tracker team</h1>

    <h2 class="govuk-heading-l">Prototype changes since last time</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Added option to search by name</li>
      <li>Updated verification check box language to: ‘The work coach has told us the claimant has proved their identity and signed their claimant commitment.’</li>
      <li>Updated language for PDF application form link</li>
      <li>Added full application information on the page</li>
      <li>Added ability to remove duplicate applications</li>
    </ul>

    <h2 class="govuk-heading-l">Screens to test</h2>

    <h3 class="govuk-heading-m">Inbox checkers</h3>

    <ol class="govuk-list govuk-list--number">
      <li><a href="/v5/home?nino=QQ123456C">First screen</a></li>
    </ol>

    <h2 class="govuk-heading-l">What we learned</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>To follow</li>
    </ul>
    
  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}