{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "wcv5/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "wcv5/_service-name.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Appointments to book</h1>

    <table class="govuk-table">
      <caption class="govuk-visually-hidden">Search results</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Name</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header" scope="col">Application submitted</th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong><a href="#">Fred Flintstone</a></strong></td>
          <td class="govuk-table__cell"><span class="app-c-tag">New claim</span></td>
          <td class="govuk-table__cell">4 July, 9:05am</td>
          <td class="govuk-table__cell">
            <div class="govuk-warning-text" style="margin-bottom: 0; padding: 0">
              <span class="govuk-warning-text__icon" aria-hidden="true" style="border: none; font-size: 20px; margin-top: -18px">!</span>
                <strong class="govuk-warning-text__text" style="padding-left: 42px">
                  <span class="govuk-warning-text__assistive">Warning</span>Special rules
              </strong>
            </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong><a href="#">Minnie Mouse</a></strong></td>
          <td class="govuk-table__cell"><span class="app-c-tag">New claim</span></td>
          <td class="govuk-table__cell">4 July, 9:05am</td>
          <td class="govuk-table__cell">
            <div class="govuk-warning-text" style="margin-bottom: 0; padding: 0">
              <span class="govuk-warning-text__icon" aria-hidden="true" style="border: none; font-size: 20px; margin-top: -18px">!</span>
                <strong class="govuk-warning-text__text" style="padding-left: 42px">
                  <span class="govuk-warning-text__assistive">Warning</span>Special rules
              </strong>
            </div>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong><a href="#">Donald Duck</a></strong></td>
          <td class="govuk-table__cell"><span class="app-c-tag">New claim</span></td>
          <td class="govuk-table__cell">4 July, 9:05am</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong><a href="#">Sponge Bob</a></strong></td>
          <td class="govuk-table__cell"><span class="app-c-tag">New appointment needed</span></td>
          <td class="govuk-table__cell">3 July, 9:05am</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong><a href="#">Top Cat</a></strong></td>
          <td class="govuk-table__cell"><span class="app-c-tag">New claim</span></td>
          <td class="govuk-table__cell">3 July, 11:09am</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong><a href="#">Micky Mouse</a></strong></td>
          <td class="govuk-table__cell"><span class="app-c-tag">New claim</span></td>
          <td class="govuk-table__cell">3 July, 11:10am</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong><a href="#">Barney Rubble</a></strong></td>
          <td class="govuk-table__cell"><span class="app-c-tag">New claim</span></td>
          <td class="govuk-table__cell">3 July, 12:50pm</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong><a href="#">Daffy Duck</a></strong></td>
          <td class="govuk-table__cell"><span class="app-c-tag">New appointment needed</span></td>
          <td class="govuk-table__cell">3 July, 12:40pm</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong><a href="#">Lois Lane</a></strong></td>
          <td class="govuk-table__cell"><span class="app-c-tag">New claim</span></td>
          <td class="govuk-table__cell">3 July, 9:30pm</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong><a href="#">Clark Kent</a></strong></td>
          <td class="govuk-table__cell"><span class="app-c-tag">New claim</span></td>
          <td class="govuk-table__cell">3 July, 9:50pm</td>
          <td class="govuk-table__cell"></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong><a href="#">Clark Kent</a></strong></td>
          <td class="govuk-table__cell"><span class="app-c-tag">New claim</span></td>
          <td class="govuk-table__cell">4 July, 7:00am</td>
          <td class="govuk-table__cell"></td>
        </tr>
      </tbody>
    </table>

  </div>{# /govuk-grid-column-full #}

</div>{# /govuk-grid-row #}

{% endblock %}