<div class="govuk-grid-column-one-quarter">
  <nav aria-label="Sub navigation">
    <ul class="dwp-vertical-navigation">
      <li>
        <a
          {% if getData.current === "claimant-overview" %}
            aria-current="page"
          {% elseif getData.current %}
          {% else %}
            aria-current="page"
          {% endif %}
          href="claimant-overview?status={{getData.status}}"
        >
          Overview
        </a>
      </li>
      <li>
        <a
        {% if getData.current === "claim-form" %}aria-current="page"{% endif %}
        href="claim-form?current=claim-form&status={{getData.status}}"
        >
          Full claim form
        </a>
      </li>
    </ul>
  </nav>

  {% if getData.status === "verified" %}
  {% else %}
    <aside role="complementary">
      <a href="q-attended?status={{getData.status}}" class="govuk-button">Change claim status</a>
    </aside>
  {% endif %}

</div>{# /govuk-grid-column-one-third #}