{% extends "layout_staff_v1.html" %}

{% block pageTitle %}
  Email templates
{% endblock %}

{% set bodyClasses = "hero-header" %}

{% block content %}

{% include "iteration-3/_header.html" %}

<div style="margin-bottom: 30px;">
  <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Email templates for work coaches</h1>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="mailto:emailaddresshere.gov.uk?subject=SPECIAL%20RULES%20-%20Digital%20claim%20-%C2%A0Verified%20-%20Fred%20Flintstone%2C%20QQ123456C&body=This%20claimant%20has%20proved%20their%20identity%20and%20signed%20their%20claimant%20commitment.%0A%0A%0AClaimant%0A--%0AFred%20Flintstone%0A%0A%0ANational%20Insurance%20number%0A--%0AQQ123456C%0A%0A%0AEvidence%20attached%0A--%0A*%0A*%0A*">Verified digital claim (special rules)</a></li>
      <li><a href="mailto:emailaddresshere.gov.uk?subject=SPECIAL%20RULES%20-%20Digital%20claim%20-%C2%A0Failed%20to%20attend%20-%20Fred%20Flintstone%2C%20QQ123456C&body=This%20claimant%20failed%20to%20attend%20their%20new%20claim%20appointment%20on%2024%20July%202019.%0A%0A%0AClaimant%0A--%0AFred%20Flintstone%0A%0A%0ANational%20Insurance%20number%0A--%0AQQ123456C">Failed to attend digital claim (special rules)</a>
      </li>

    </ul>

    <br><br><br><br>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}