{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "iteration-3/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "iteration-3/_service-name.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-one-half">

    {% if getData.error === "empty" %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#search">Enter a search term</a>
            </li>
          </ul>
        </div>
      </div>
    {% endif %}

    <h1 class="govuk-heading-l">Find a claim</h1>

    <form action="/iteration-3/claimant-overview" method="post">
      <div class="govuk-form-group" style="margin-bottom: 10px">
        <label class="govuk-label" for="search">
          Claimant’s name or National Insurance number
        </label>
        <input id="status" name="status" type="hidden" value="{{getData.status}}">
        <input id="nino" name="nino" type="hidden" value="{{getData.nino}}">
        <input class="govuk-input govuk-input--width-20" id="search" name="search" type="text" autocomplete="off" value="{% if getData.nino %}{{getData.nino}}{% endif %}">
      </div>

      <button type="submit" class="govuk-button">Find claim</button>
      
    </form>

  </div>{# /govuk-grid-column-one-half #}

</div>{# /govuk-grid-row #}

{% endblock %}