{% extends "layout_master.html" %}

{% block pageTitle %}
  Iteration 3 &ndash; Reference screens &ndash; {{ serviceName }}
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="/dev-index" rel="prev" class="govuk-back-link">Back to reference screens for JIRA stories</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Agent user interface (iteration 3)</h1>

    <h2 class="govuk-heading-m">Claimant who doesn’t qualify for special rules</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/iteration-3/claimant">Claimant screen</a></li>
      <li><a href="/iteration-3/email-templates">Email templates</a></li>
    </ul>

    <h2 class="govuk-heading-m">Claimant who qualifies for special rules</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/iteration-3/claimant-sr">Claimant screen (special rules)</a></li>
      <li><a href="/iteration-3/email-templates-sr">Email templates (special rules)</a></li>
    </ul>
    
  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}