<h2 class="govuk-heading-m">Pension (1 of 1)</h2>

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
  {
      key: {text: "Name"},
      value: {html: "Prudential"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Date started"},
      value: {html: "01/01/2018"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Address"},
      value: {html: "
        72 Guild street<br>
        London
      "},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Postcode"},
      value: {html: "SE23 6FH"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Telephone number"},
      value: {html: "020 7946 0076"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Reference number"},
      value: {html: "245-485-198"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Payments from pension or annuity"},
      value: {html: "&pound;75 a week"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Inherited pension or annuity"},
      value: {text: "No"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    }
  ]
})}}

<h2 class="govuk-heading-m">Permanent health insurance (1 of 1)</h2>

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
  {
      key: {text: "Name"},
      value: {html: "Prudential"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Address"},
      value: {html: "
        72 Guild street<br>
        London
      "},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Postcode"},
      value: {html: "SE23 6FH"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Premiums paid in"},
      value: {text: "I pay less than half the premiums myself"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Payments received from health insurance"},
      value: {html: "&pound;65 a week"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    }
  ]
})}}