<h2 class="govuk-heading-m">Consent to share information</h2>

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: {text: "Doctor’s consent"},
      value: {text: "Yes, the doctor can share details with DWP"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    }
    {
      key: {text: "DWP's consent"},
      value: {text: "Yes, the DWP can share the outcome of an assessment with the doctor"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    }
  ]
})}}
