<h2 class="govuk-heading-m">Working and living abroad</h2>

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: {text: "Worked abroad in the last 5 years"},
      value: {text: "Yes"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Lived abroad with family member in armed forces in the last 12 weeks"},
      value: {text: "Yes"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    }
  ]
})}}