<h2 class="govuk-heading-m">Statutory pay</h2>

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: {text: "Getting Statutory Sick Pay"},
      value: {text: "Yes"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Statutory Sick Pay ends"},
      value: {text: "18/12/19"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Other statutory payments"},
      value: {text: "Statutory Maternity Pay"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Return to work date"},
      value: {text: "2 to 4 weeks"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    }
  ]
})}}