{% extends "layout_staff_v1.html" %}

{% block pageTitle %}
  Claimant not found - Apply for ‘new style’ Employment and Support Allowance
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-bottom-6"></div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Email templates</h1>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="mailto:inbox@testing.gov.uk?subject=Digital%20claim%20-%C2%A0Verified%20-%20%5BTheir%20Name%5D%2C%20%5BNational%20Insurance%20Number%5D&body=This%20claimant%20has%20proved%20their%20identity%20and%20signed%20their%20claimant%20commitment.%0A%0AClaimant%0A--%0A%5BTheir%20Name%5D%0A%0ANational%20Insurance%20number%0A--%0A%5BNational%20Insurance%20Number%5D%0A%0AEvidence%20attached%0A--%0A*%0A*%0A*">Verified digital claim</a></li>
      <li><a href="mailto:inbox@testing.gov.uk?subject=SPECIAL%20RULES%20-%20Digital%20claim%20-%C2%A0Verified%20-%20%5BTheir%20Name%5D%2C%20%5BNational%20Insurance%20Number%5D&body=This%20claimant%20has%20proved%20their%20identity%20and%20signed%20their%20claimant%20commitment.%0A%0AClaimant%0A--%0A%5BTheir%20Name%5D%0A%0ANational%20Insurance%20number%0A--%0A%5BNational%20Insurance%20Number%5D%0A%0AEvidence%20attached%0A--%0A*%0A*%0A*">Verified digital claim (special rules)</a></li>
      <li><a href="mailto:inbox@testing.gov.uk?subject=Digital%20claim%20-%C2%A0Failed%20to%20attend%20-%20%5BTheir%20Name%5D%2C%20%5BNational%20Insurance%20Number%5D&body=This%20claimant%20failed%20to%20attend%20their%20new%20claim%20appointment%20on%20%5BDate%20Here%5D%20July%202019.%0A%0AClaimant%0A--%0A%5BTheir%20Name%5D%0A%0ANational%20Insurance%20number%0A--%0A%5BNational%20Insurance%20Number%5D">Failed to attend digital claim</a>
      </li>
      <li><a href="mailto:inbox@testing.gov.uk?subject=SPECIAL%20RULES%20-%20Digital%20claim%20-%C2%A0Failed%20to%20attend%20-%20%5BTheir%20Name%5D%2C%20%5BNational%20Insurance%20Number%5D&body=This%20claimant%20failed%20to%20attend%20their%20new%20claim%20appointment%20on%20%5BDate%20Here%5D%20July%202019.%0A%0AClaimant%0A--%0A%5BTheir%20Name%5D%0A%0ANational%20Insurance%20number%0A--%0A%5BNational%20Insurance%20Number%5D">Failed to attend digital claim (special rules)</a>
      </li>

    </ul>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}