{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9 summary-view',
  rows: [
    {
      key: {text: "Application submitted"},
      value: {text: "1/04/2019"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Claim start date"},
      value: {text: "1/04/2019"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "First name"},
      value: {text: "Sponge"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Last name"},
      value: {text: "Bob"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "National Insurance number"},
      value: {text: "QQ 11 22 33 M"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Date of birth"},
      value: {text: "12/09/1970"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: "name"}]}
    },
    {
      key: {text: "Postcode"},
      value: {text: "LS10 4DD"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: "name"}]}
    }
  ]
})}}