{% extends "layout_staff.html" %}

{% block pageTitle %}
  Claim summary - Fred Flintstone - Apply for ‘new style’ Employment and Support Allowance
{% endblock %}

{% set bodyClasses = "hero-header" %}

{% block content %}

{% include "v2/_header.html" %}

<div style="margin-bottom: 30px;">
  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row container">

  <div class="govuk-grid-column-two-thirds">

    {% if getData.status === "cancelled" %}
      <div class="blue-border">
        <h2 class="govuk-heading-m">Cancelled by Dave Smith, 31 March, 5:00pm</h2>
        <h3 class="govuk-heading-s" style="margin-bottom: 0">Reason</h3> 
        <p>Duplicate application</p>
        <h3 class="govuk-heading-s" style="margin-bottom: 0">Notes</h3> 
        <p>Fred had submitted 2 application forms. I called him up on 31 March at 4:30 and he told me to use the second one.</p>
{#         <a href="applicant?nino={{getData.nino}}&amp;status=unverified" class="govuk-button secondary" style="margin-bottom: 0;">Remove ‘cancelled’ status</a> #}
      </div>
      <br>
    {% endif %}

    {% if getData.sr %}
    {{ govukWarningText({
      text: "Special rules apply for this claimant",
      iconFallbackText: "Warning"
    }) }}
    {% endif %}

    <div class="govuk-tabs" data-module="tabs">

      <h2 class="govuk-tabs__title">Contents</h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#summary">
            Summary
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#full">
            Full application
          </a>
        </li>
      </ul>

      <section class="govuk-tabs__panel" id="summary" style="border: none; padding-left: 0; padding-right: 0;">
        {% include "v2/_applicant-QQ123456C.html" %}
      </section>

      <section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="full" style="border: none; padding-left: 0; padding-right: 0;">
        {% include "v2/answers/_answers-dates.html" %}
        {% include "v2/answers/_answers-personal-details.html" %}
        {% include "v2/answers/_answers-paid-work.html" %}
        {% include "v2/answers/_answers-voluntary-work.html" %}
        {% include "v2/answers/_answers-pensions-health-insurance.html" %}
        {% include "v2/answers/_answers-statutory-pay.html" %}
        {% include "v2/answers/_answers-health-conditions.html" %}
        {% include "v2/answers/_answers-consent-to-request.html" %}
        {% include "v2/answers/_answers-payment-method.html" %}
      </section>
      
    </div>{# /govuk-tabs #}

    <br>
    <br>

  </div>{# /govuk-grid-column-two-thirds #}

  {% if getData.status === "verified" or getData.status === "cancelled" %}
  {% else %}
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items status-verified" role="complementary">
        <h3 class="govuk-heading-m" id="claim-actions-title">Application actions</h3>
        <a href="status?nino={{getData.nino}}&amp;status={{getData.status}}" class="govuk-button">Update application status</a>
      </aside>
    </div>{# /govuk-grid-column-one-third #}
  {% endif %}

</div>{# /govuk-grid-row #}

{% endblock %}