
{% extends "layout_staff.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="search" rel="prev" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">Recently discarded applications</h1>

    <p>These stay on the system for XXX day   
      s before they are automatically deleted.</p>

    {# <div class="filters">
      <h3>Showing:</h3>
      <ul>
        <li><strong>All</strong></li>
        <li><a href="#">Today</a></li>
        <li><a href="#">This week</a></li>
      </ul>
    </div> #}{# /filters #}

    <div class="table-scrollable-wrapper">

      <table cellspacing="0" width="100%" class="govuk-table listing-table">
        <thead>
          <tr>
            <th class="govuk-table__header"><span>Name</span></th>
            <th class="govuk-table__header"><span>National Insurance number</span></th>
            <th class="govuk-table__header"><span>Date discarded</span></th>
            <th class="govuk-table__header"><span>Person who discarded it</span></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="applicant?nino=QQ123456C&status=unverified&sr=true">
                <span class="table-link">Fred Flintstone</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ123456C</td>
            <td class="govuk-table__cell">31 March, 5:00pm</td>
            <td class="govuk-table__cell">Dave Smith</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="applicant">
                <span class="table-link">Jimmy Olsen</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ654321Q</td>
            <td class="govuk-table__cell">31 March, 4:30pm</td>
            <td class="govuk-table__cell">Dave Smith</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="applicant">
                <span class="table-link">Barney Rubble</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ654321Q</td>
            <td class="govuk-table__cell">30 March, 3:15pm</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="applicant">
                <span class="table-link">Daffy Duck</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ222222Q</td>
            <td class="govuk-table__cell">29 March at 4:09pm</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="applicant">
                <span class="table-link">Minnie Mouse</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ333333Q</td>
            <td class="govuk-table__cell">29 March, 9:05am</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="applicant">
                <span class="table-link">Snow White</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ444444Q</td>
            <td class="govuk-table__cell">29 March, 9:05am</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="applicant">
                <span class="table-link">Sponge Bob</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ987654Q</td>
            <td class="govuk-table__cell">29 March, 9:05am</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="applicant">
                <span class="table-link">Donald Duck</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ765365Q</td>
            <td class="govuk-table__cell">29 March, 9:05am</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="applicant">
                <span class="table-link">Donald Duck</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ765365Q</td>
            <td class="govuk-table__cell">29 March, 10:41am</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="applicant">
                <span class="table-link">Santa Claus</span>
              </a>
            </td>
            <td class="govuk-table__cell">QQ111111Q</td>
            <td class="govuk-table__cell">29 March, 9:05am</td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
      </table>

    </div>{# /table-scrollable-wrapper #}
    
  </div>{# /govuk-grid-column-full #}

</div>{# /govuk-grid-row #}

{% endblock %}