
{% extends "layout_staff.html" %}

{% block pageTitle %}
  Find a claim - Apply for ‘new style’ Employment and Support Allowance
{% endblock %}

{% block beforeContent %}
<div style="margin-bottom: 30px;">
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Verify new claims</h1>

    <h2 class="govuk-heading-m">Find an application</h2>

    <form action="/v2/search-entry" method="post">
      <div class="govuk-form-group" style="margin-bottom: 10px">
        <label class="govuk-label" for="search">
          Enter the applicant’s name or National Insurance number
        </label>
        <input class="govuk-input govuk-input--width-20" id="search" name="search" type="text" autocomplete="off" value="{% if getData.nino %}{{getData.nino}}{% endif %}">
        <a class="govuk-button search" href="/v2/applicant?nino=QQ123456C&status=unverified">Find application</a>
      </div>
    </form>

    <h2 class="govuk-heading-m">Manage applications</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/v2/applications-duplicate-ninos">Check if you need to cancel any applications</a></li>
      <li><a href="/v2/applications-cancelled">View recently cancelled applications</a></li>
    </ul>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}