{% extends "layout_staff_master.html" %}

{% block pageTitle %}
  Apply for new style Employment and Support Allowance
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="/proto-index" rel="prev" class="govuk-back-link">Back to prototypes for testing in user research</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Version 2 – tested on 9&nbsp;April in Belfast</h1>

    <h2 class="govuk-heading-m">Changes in this version</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Reduced number of statuses – we now just have ‘verified’ and ‘failed to attend’ (the ‘processed’ status isn’t needed as the tracker contains this information)</li>
      <li>Learned from the ‘new style’ Jobseeker’s Allowance team and followed their styling conventions so the system is more familiar to work coaches</li>
      <li>Designed screens for when a user gets multiple results or no results</li>
      <li>Replaced the status change buttons (and their 'undo' actions) with a separate radio list of statuses and what they mean</li>

      </ul>

    <h2 class="govuk-heading-m">Screens tested</h2>

    <h3 class="govuk-heading-s">Inbox checkers</h3>

    <ol class="govuk-list govuk-list--number">
      <li><a href="v2/search?nino=QQ123456C">Attended interview, all documentation is present</a></li>
      <li><a href="v2/search?nino=QQ111111Z">Another attended interview, all documentation is present</a></li>
      <li><a href="v2/search?nino=QQ001122A">Attended interview, some documentation missing</a></li>
      <li><a href="v2/search?nino=QQ123456Z">No matches for the National Insurance number</a></li>
      <li><a href="v2/search?nino=QQ111122B">Failed to attend</a></li>
      <li><a href="v2/search?nino=QQ010101A">National Insurance number returns multiple applications</a></li>
      <li><a href="v2/search?nino=QQ112233A">Special rules case</a></li>
      <li><a href="v2/search?nino=QQ112233M">Previously marked as failed to attend</a></li>
      <li><a href="v2/search?nino=QQ112233Z">Unable to verify</a></li>
      <li><a href="v2/search?nino=QQ111122G">Failed to attend for the second time</a></li>
      <li><a href="v2/search?nino=QQ121212A">No matches for the National Insurance number (claimant never filled out application form</a></li>
    </ol>

    <h3 class="govuk-heading-s">Registration team</h3>

    <ol class="govuk-list govuk-list--number">
      <li><a href="v2/search?nino=QQ222233V">Verified example</a></li>
    </ol>

    <h3 class="govuk-heading-s">Processors</h3>

    <ol class="govuk-list govuk-list--number">
      <li><a href="pdf-application">PDF application</a></li>
    </ol>

    <h2 class="govuk-heading-m">What we learned</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Spaces in the National Insurance number are unhelpful</li>
      <li>The ‘Upload their application to DRS’ screen was not clear – agents assumed this was being done for them by clicking the green button</li>
      <li>PDF opening in the same browser tab caused issues</li>
      <li>Format of PDF worked well and is easier to read than handwritten form</li>
      <li>‘Special rules’ indicator wasn’t always noticed</li>
      <li>A way of identifying applications is needed for when multiple applications are submitted by the same user on the same date</li>
    </ul>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
