{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "v2/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "v2/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "v2/_key-details.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Upload their application to&nbsp;DRS</h1>

    <p>Download their application form and upload it to DRS. Use the document type ‘ESA1 Digital’.</p>

    <p><a href="/public/pdf/application.pdf">[NAME] application (PDF)</a></p>

    <a href="status-confirmation?status=verified&amp;nino={{getData.nino}}" class="govuk-button">Done, verify their claim</a>
    
  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}