{% extends "layout_staff.html" %}

{% block pageTitle %}
  Update status - Fred Flintstone - Apply for new style Employment and Support Allowance
{% endblock %}

{% set bodyClasses = "hero-header" %}

{% block content %}

{% include "v2/_header.html" %}

<div style="margin-bottom: 30px;">
  <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row container">

  <div class="govuk-grid-column-two-thirds">

    <form action="status-changing" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Update the status of this claim
            </h1>
          </legend>
          <input id="nino" name="nino" type="hidden" value="{{getData.nino}}">

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="verified" name="status" type="radio" value="verified" aria-describedby="hint-verified">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="verified">
                  Verified
                </label>
                <span id="hint-verified" class="govuk-hint govuk-radios__hint">The claimant has proved their identity and signed their claimant commitment.</span>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nocontact" name="status" type="radio" value="nocontact" aria-describedby="hint-nocontact">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="nocontact">
                  No contact from claimant
                </label>
                <span id="hint-nocontact" class="govuk-hint govuk-radios__hint">No contact has been made within the last 30 days. A letter will be sent to the claimant letting them know that they will need to complete another application form.</span>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="discarded" name="status" type="radio" value="discarded" aria-describedby="hint-discarded">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="discarded">
                  Discarded
                </label>
                <span id="hint-discarded" class="govuk-hint govuk-radios__hint">This application can be removed. This normally applies to duplicate applications. The claimant will not be notified of this action.</span>
              </div>
              
            </div>{# /govuk-radios #}

        </fieldset>
      </div>{# /govuk-form-group #}

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </form>

  </div>{# /govuk-grid-column-two-thirds #}


</div>{# /govuk-grid-row #}

{% endblock %}