{# <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> #}
{% if getData.nino === "QQ111111Z" %}
  <h3 class="heading-small">Louis Lane <span class="font-xsmall"> – 20 July 2019, 11:10am </span></h3>
  <p>Uploaded Barney’s SSP1. Still missing the fit note and pension statement. Barney is due to bring those into the jobcentre tomorrow.</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{#   <h3 class="heading-small">Louis Lane <span class="font-xsmall"> – 21 July 2019, 3pm </span></h3>
  <p>Added Barney’s fit note and pension document.</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> #}
{% elif getData.nino === "QQ010101A" %}
  <h3 class="heading-small">Louis Lane <span class="font-xsmall"> – 20 July 2019, 11:10am </span></h3>
  <p>Notes would appear here.</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{% else %}
  <h3 class="heading-small">Louis Lane <span class="font-xsmall"> – 20 July 2019, 11:10am </span></h3>
  <p>Uploaded claimant’s SSP1. Still missing the fit note and pension statement. Barney is due to bring those into the jobcentre tomorrow.</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <h3 class="heading-small">Louis Lane <span class="font-xsmall"> – 21 July 2019, 3pm </span></h3>
  <p>Added claimant’s fit note and pension document.</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{% endif %}
</ul>