{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "wcv2/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "wcv2/_service-name.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="/wcv2/add-clerical-upload-evidence" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Upload their claim form
            </h1>
          </legend>
          <div class="govuk-form-group">
            <label class="govuk-label" for="file-upload-0">
              Upload a file
            </label>
            <input class="govuk-file-upload" id="file-upload-0" name="file-upload-0" type="file">
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button">Continue</button>

    </form>

  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}