{% extends "layout_staff_v3.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class=""></div>
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Check your answers</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Personal details
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['firstname'] }}<br>
          {{ data['lastname'] }}<br>
          {{ data['nationalinsurance'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Special rules
        </dt>
        <dd class="govuk-summary-list__value">
         {{ data['specialrules'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> date of birth</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Claim form
        </dt>
        <dd class="govuk-summary-list__value">
         {{ data['file-upload-0'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> claim form</span>
          </a>
        </dd>
      </div>
      {% if data['file-upload-1'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Evidence
          </dt>
          <dd class="govuk-summary-list__value">
            Links open in a new window:
            {% if data['file-upload-1'] %}<a href="#">{{ data['file-upload-1'] }}</a><br>{% endif %}
            {% if data['file-upload-2'] %}<a href="#">{{ data['file-upload-2'] }}</a><br>{% endif %}
            {% if data['file-upload-3'] %}<a href="#">{{ data['file-upload-3'] }}</a><br>{% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> evidence</span>
            </a>
          </dd>
        </div>
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Notes
        </dt>
        <dd class="govuk-summary-list__value">
         {{ data['notes'] }}<br>
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> notes</span>
          </a>
        </dd>
      </div>
    </dl>

    <a href="add-clerical-status-confirmation" class="govuk-button" style="margin-top: -20px">I am ready to add this claimant</a>

  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}