{% extends "layout_master.html" %}

{% block pageTitle %}
  Work coach view &ndash; Version 2 &ndash; Prototypes &ndash; {{ serviceName }}
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="/proto-index" rel="prev" class="govuk-back-link">Back to prototypes for testing in user research</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Work coach view – version 2</h1>

    <h2 class="govuk-heading-m">Changes in this version</h2>

    <h3 class="govuk-heading-s">General</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>The prototype kit was updated to include new styles (colours and focus styles)</li>
    </ul>

    <h3 class="govuk-heading-s">Claimant screen</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>List of identity documents and how they’re displayed</li>
      <li>Added the claimant’s name when referring to the supporting evidence to show that this is specifically aimed at this claimant</li>
      <li>Added a link to ‘view claim history’ (new screen)</li>
    </ul>

    <h3 class="govuk-heading-s">Change the status of this claim</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Replaced the ‘New appointment needed’ status with ‘Failed to attend’ and ‘Could not be verified’</li>
      <li>The ‘Failed to attend’ status has an optional text box asking for more detail</li>
    </ul>

    <h3 class="govuk-heading-s">Verifying a claim</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Swapped hint text for clearer ‘Do not include their claimant commitment or identity documents.’</li>
      <li>Added an additional step with the ability to check uploaded evidence and add notes</li>
      <li>If no evidence has been uploaded, notes can be added to give the work coach an opportunity to explain more</li>
    </ul>

    <h3 class="govuk-heading-s">Could not be verified</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>We ask why the claim couldn’t be verified – this is so that we know if it eventually needs to be disallowed (the appropriate letter can be sent etc)</li>
      <li>If the claimant wants another appointment, the work coach can either book it for them or pass it onto someone else to book</li>
    </ul>

    <h3 class="govuk-heading-s">Search results screen</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Added National Insurance number to search results listing</li>
    </ul>

    <h3 class="govuk-heading-s">Add a new clerical claim</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Added step to add notes on the uploaded documents</li>
      <li>Check your answers comes at the end (this allows work coaches to review attachments and notes)</li>
    </ul>

    <h2 class="govuk-heading-m">What we want to learn</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Is the information in the blue header useful?</li>
      <li>Do they spot the ‘special rules’ message</li>
      <li>Do they what ‘view claim history’ means?</li>
      <li>Do they understand the claim history timeline?</li>
      <li>What do they type in the ‘notes’ textboxes?</li>
      <li>Do they understand what all the statuses mean?</li>
      <li>Do they read ‘Do not include their claimant commitment or identity documents’?</li>
      <li>Do they know to verify the claim if the claimant hasn’t brought any evidence with them?</li>
      <li>If a claimant is bringing in further evidence, do they know how to add this?</li>
      <li>Are they able to deal with a failed to attend case?</li>
      <li>Does the work coach have any more questions after marking a claim as ‘failed to attend’?</li>
      <li>Do they understand what to do when they find that a claimant previously failed to attend their appointment?</li>
      <li>Do they understand when to use the ‘Could not be verified status’?</li>
      <li>Does the new identity content make sense?</li>
      <li>Do they understand that supporting evidence is specific to that claimant?</li>
      <li>Do they understand the term ‘biometric check’?</li>
      <li>Can they add a clerical claim?</li>
      <li>Do they know how to check documents they’ve uploaded?</li>
    </ul>

    <h2 class="govuk-heading-m">Scenarios to test</h2>

    <ol class="govuk-list govuk-list--number govuk-body-m scenario-list" style="font-weight: bold">
      <li>
        <h3 class="govuk-heading-s">Barney Rubble, QQ111111Z</h3>
        <ol class="govuk-list">
          <li>
            <h4 class="govuk-heading-s"><a href="/wcv2/home?nino=QQ111111Z">Scenario 1, Part A</a></h4>
            <p>Barney turns up, has ID and most of evidence. He doesn’t have his pension statement. He says he’ll bring his pension statement in tomorrow.</p>
            <div class="govuk-inset-text">
              Changes status to ‘Verified’, uploads supporting evidence and may add a note
            </div>
          </li>
          <li>
            <h4 class="govuk-heading-s"><a href="/wcv2/home?nino=QQ111111Z&part2=QQ111111Z">Scenario 1, Part B</a></h4>
            <p>Tomorrow comes and Barney brings in his pension statement.</p>
            <div class="govuk-inset-text">
              Uploads additional evidence
            </div>
          </li>
        </ol>
        <li>
          <h3 class="govuk-heading-s">Buzz Lightyear, QQ000011A</h3>
          <h4 class="govuk-heading-s"><a href="/wcv2/home?nino=QQ000011A">Scenario 2</a></h4>
          <p>Buzz hasn’t arrived for his appointment.</p>
          <div class="govuk-inset-text">
            Changes status to ‘Failed to attend’ and may add a note
          </div>
        </li>
        <li>
          <h3 class="govuk-heading-s">Micky Mouse, QQ112233Z</h3>
          <ol class="govuk-list">
            <li>
              <h4 class="govuk-heading-s"><a href="/wcv2/home?nino=QQ112233Z">Scenario 3, Part A</a></h4>
              <p>Micky arrives and provides evidence. He forgets his ID.</p>
              <div class="govuk-inset-text">
                Changes status to ‘Could not be verified’, follows process for follow-up appointment
              </div>
            </li>
            <li>
              <h4 class="govuk-heading-s"><a href="/wcv2/home?nino=QQ112233Z&part2=QQ112233Z">Scenario 3, Part B</a></h4>
              <p>Minnie comes back in with ID</p>
              <div class="govuk-inset-text">
                Changes status to ‘Verified’, uploads supporting evidence
              </div>
            </li>
          </ol>
        </li>
        <li>
          <h3 class="govuk-heading-s">Minnie Mouse, QQ010101A</h3>
          <ol class="govuk-list">
            <li>
              <h4 class="govuk-heading-s"><a href="/wcv2/home?nino=QQ010101A">Scenario 4. Part A</a></h4>
              <p>Minnie proves ID, but doesn’t have any evidence</p>
              <div class="govuk-inset-text">
                Chooses ‘Could not be verified’ and follows process to book another appointment
              </div>
            </li>
            <li>
              <h4 class="govuk-heading-s"><a href="/wcv2/home?nino=QQ010101A&part2=QQ010101A">Scenario 4. Part B</a></h4>
              <p>Minnie comes back in with evidence</p>
              <div class="govuk-inset-text">
                View the ‘Verified’ claim and uploads supporting evidence
              </div>
            </li>
          </ol>
        </li>
        <li>
          <h3 class="govuk-heading-s">Marge Simpson, QQ231234Z</h3>
          <ol class="govuk-list">
            <li>
              <h4 class="govuk-heading-s"><a href="/wcv2/home?nino=QQ231234Z">Scenario 5. Part A</a></h4>
              <p>Marge decides not to sign the claimant commitment and doesn’t want a follow-up appointment.</p>
              <div class="govuk-inset-text">
                Agent changes status to ‘Could not be verified’, select reason and may add a note, selects no appointment needed
              </div>
            </li>
            <li>
              <h4 class="govuk-heading-s"><a href="/wcv2/home?nino=QQ231234Z&part2=QQ231234Z">Scenario 5. Part B</a></h4>
              <p>Marge changes her mind and contacts the jobcentre.</p>
              <div class="govuk-inset-text">
                Once claimant commitment is complete is complete, agent changes status to ‘New appointment needed’
              </div>
            </li>
          </ol>
        </li>
      </li>
      <li>
        <h3 class="govuk-heading-s">Homer Simpson, QQ112233C</h3>
        <h4 class="govuk-heading-s"><a href="/wcv2/home?nino=QQ112233C">Scenario 6, Part A</a></h4>
        <p>Homer has filled in multiple application forms – they realised they needed to change some information, so they filled the form in again.</p>
        <div class="govuk-inset-text">
          Checks which form to use with claimant, then changes status to ‘Verified’, uploads supporting evidence, may add a note and changes status to ‘Withdrawn’ for all other application forms
        </div>
      </li>
      <li>
        <h3 class="govuk-heading-s">Bugs Bunny, QQ123456Z</h3>
        <h4 class="govuk-heading-s"><a href="/wcv2/home?nino=QQ123456Z">Scenario 7</a></h4>
        <p>Bugs thought he filled completed the digital form, but it can’t be found. He ends up completing a paper claim form.</p>
        <div class="govuk-inset-text">
          Agent searches for claimant to begin with and then follows the process to add a clerical claim
        </div>
      </li>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <li>
        <h3 class="govuk-heading-s">Fred Flintstone, QQ112233B</h3>
        <h4 class="govuk-heading-s"><a href="/wcv2/home?nino=QQ112233B">Scenario 8</a></h4>
        <p>Fred Flintstone has contacted the jobcentre to enquire about their claim as they haven't received any money yet. They failed to attend their last appointment.</p>
        <div class="govuk-inset-text">
          Books another appointment for the claimant
        </div>
      </li>
      <li>
        <h3 class="govuk-heading-s">Clark Kent, QQ112233A</h3>
        <h4 class="govuk-heading-s"><a href="/wcv2/home?nino=QQ112233A">Scenario 9</a></h4>
        <p>Clark has contacted the Jobcentre to enquire about their claim as they haven't received any money yet. Their claim was previously withdrawn.</p>
        <div class="govuk-inset-text">
          Asks claimant to make a new application
        </div>
      </li>
    </ol>

    <h2 class="govuk-heading-m">What we learned</h2>

    <p>Content to follow&hellip;</p>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}