{% extends "layout_master.html" %}

{% block pageTitle %}
  Work coach view &ndash; Version 2 &ndash; Prototypes &ndash; {{ serviceName }}
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="/proto-index" rel="prev" class="govuk-back-link">Back to prototypes for testing in user research</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Work coach view – version 2</h1>

    <h2 class="govuk-heading-m">Changes in this version</h2>

    <h3 class="govuk-heading-s">General</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>The prototype kit was updated to include new styles (colours and focus styles)</li>
    </ul>

    <h3 class="govuk-heading-s">Claimant screen</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>List of identity documents and how they’re displayed</li>
      <li>Added the claimant’s name when referring to the supporting evidence to show that this is specifically aimed at this claimant</li>
      <li>Added a link to ‘view claim history’ (new screen)</li>
    </ul>

    <h3 class="govuk-heading-s">Change the status of this claim</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Replaced the ‘New appointment needed’ status with ‘Failed to attend’ and ‘Could not be verified’</li>
      <li>The ‘Failed to attend’ status has an optional text box asking for more detail</li>
    </ul>

    <h3 class="govuk-heading-s">Verifying a claim</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Swapped hint text for clearer ‘Do not include their claimant commitment or identity documents.’</li>
      <li>Added an additional step with the ability to check uploaded evidence and add notes</li>
      <li>If no evidence has been uploaded, notes can be added to give the work coach an opportunity to explain more</li>
    </ul>

    <h3 class="govuk-heading-s">Could not be verified</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>We ask why the claim couldn’t be verified – this is so that we know if it eventually needs to be disallowed (the appropriate letter can be sent etc)</li>
      <li>If the claimant wants another appointment, the work coach can either book it for them or pass it onto someone else to book</li>
    </ul>

    <h3 class="govuk-heading-s">Search results screen</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Added National Insurance number to search results listing</li>
    </ul>

    <h3 class="govuk-heading-s">Add a new clerical claim</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li>Added step to add notes on the uploaded documents</li>
      <li>Check your answers comes at the end (this allows work coaches to review attachments and notes)</li>
    </ul>

    <h2 class="govuk-heading-m">What we want to learn</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Is the information in the blue header useful?</li>
      <li>Do they spot the ‘special rules’ message</li>
      <li>Do they what ‘view claim history’ means?</li>
      <li>Do they understand the claim history timeline?</li>
      <li>What do they type in the ‘notes’ textboxes?</li>
      <li>Do they understand what all the statuses mean?</li>
      <li>Do they read ‘Do not include their claimant commitment or identity documents’?</li>
      <li>Do they know to verify the claim if the claimant hasn’t brought any evidence with them?</li>
      <li>If a claimant is bringing in further evidence, do they know how to add this?</li>
      <li>Are they able to deal with a failed to attend case?</li>
      <li>Does the work coach have any more questions after marking a claim as ‘failed to attend’?</li>
      <li>Do they understand what to do when they find that a claimant previously failed to attend their appointment?</li>
      <li>Do they understand when to use the ‘Could not be verified status’?</li>
      <li>Does the new identity content make sense?</li>
      <li>Do they understand that supporting evidence is specific to that claimant?</li>
      <li>Do they understand the term ‘biometric check’?</li>
      <li>Can they add a clerical claim?</li>
      <li>Do they know how to check documents they’ve uploaded?</li>
    </ul>

    <h2 class="govuk-heading-m">Screens</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/wcv2/home">Home</a></li>
      <li><a href="/wcv2/claimant?nino=QQ111111Z&status=appointmentbooked&ssp1=true&fitnotes=true&pension=true">Claimant</a></li>
      <li><a href="/wcv2/claimant?nino=QQ000011A&status=appointmentbooked&sr=true&ssp1=true&fitnotes=true">Claimant (with special rules)</a></li>
    </ul>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}