{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "wcv2/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "wcv2/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "wcv2/_key-details.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l" style="margin-top: 0">Book this appointment</h1>
    
    <p>Add the new appointment to the calendar your jobcentre uses. This will probably be the Universal Credit diary.</p>

    <p><a href="status-confirmation?status=appointmentbooked&nino={{getData.nino}}&early=${early}" class="govuk-button">I’ve done this</a></p>

  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}