{% extends "layout_staff_v2.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% set bodyClasses = "hero-header" %}

{% block content %}

{% include "wcv2/_header.html" %}

<div style="margin-bottom: 30px;">
  <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row container">

  <div class="govuk-grid-column-two-thirds">

    <div class="yellow-border govuk-!-margin-bottom-6" style="margin-top: 0;">
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Special rules
        </strong>
      </div>
    </div>

    <h1 class="govuk-heading-l">Uploaded evidence</h1>

    <p>Links to documents open in a new tab:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="#">Claim form (pdf)</a></li>
      <li><a href="#">scan01-56778 (pdf)</a></li>
      <li><a href="#">ff-fitnote-1234 (jpg)</a></li>
      <li><a href="#">pension (jpg)</a></li>
    </ul>

    <p><a href="#">Upload more documents</a></p>

    <p>Notes go here</p>

  </div>{# /govuk-grid-column-two-thirds #}

  {% if getData.status === "cancelled" %}
  {% else %}

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items status-verified" role="complementary">
        <h3 class="govuk-heading-m" id="claim-actions-title">Claim actions</h3>
        <nav role="navigation" aria-labelledby="claim-actions-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li><a href="claim-form?nino={{getData.nino}}&amp;status={{getData.status}}&amp;sr={{getData.sr}}&amp;ssp1={{getData.ssp1}}&amp;fitnotes={{getData.fitnotes}}&amp;early={{getData.early}}&amp;twojobs={{getData.twojobs}}">View or update the claim</a></li>
          <li><a href="claim-history?nino={{getData.nino}}&amp;status={{getData.status}}&amp;sr={{getData.sr}}&amp;ssp1={{getData.ssp1}}&amp;fitnotes={{getData.fitnotes}}&amp;early={{getData.early}}&amp;twojobs={{getData.twojobs}}">View claim history</a></li>
        </ul>
      </nav>
        <a href="status?nino={{getData.nino}}&amp;status={{getData.status}}&amp;twojobs={{getData.twojobs}}&amp;early={{getData.early}}" class="govuk-button">Change claim status</a>
      </aside>

{#       <h2 class="heading-medium govuk-visually-hidden">Claim history</h2>
      <ol class="dwp-timeline govuk-list govuk-!-font-size-16" style="margin-top: -20px">
        <li class="dwp-timeline__entry">
          <h3 class="dwp-timeline__title govuk-!-margin-bottom-0">Status changed to ‘Appointment booked’</h3>
          <p class="dwp-timeline__info govuk-!-font-size-16">
            <span class="dwp-timeline__author">by John Smith</span>
            <span class="dwp-timeline__date">14/07/2019, 10:30pm</span>
          </p>
        </li>

        <li class="dwp-timeline__entry">
          <h3 class="dwp-timeline__title govuk-!-margin-bottom-0">Claim submitted</h3>
          <p class="dwp-timeline__info govuk-!-font-size-16">
            <span class="dwp-timeline__date">12/07/2019, 10:30pm</span>
          </p>
        </li>
      </ol>
 #}


    </div>{# /govuk-grid-column-one-third #}
  {% endif %}

</div>{# /govuk-grid-row #}

{% endblock %}