{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "wcv2/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "wcv2/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "wcv2/_key-details.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    {% if getData.filename1 %}

      <h1 class="govuk-heading-l">Check the documents before you verify their claim</h1>

      <p>These links will open in a new window:</p>

      <ul class="govuk-list govuk-list--bullet">
        {% if getData.filename1 %}<li><a href="#">{{data.filename1}}</a></li>{% endif %}
        {% if getData.filename2 %}<li><a href="#">{{data.filename2}}</a></li>{% endif %}
        {% if getData.filename3 %}<li><a href="#">{{data.filename3}}</a></li>{% endif %}
      </ul>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="reason">
          Notes
        </label>
        <span id="more-detail-hint" class="govuk-hint">
          Add a note if there is something the processing team should know. For example, if anything is missing or you are waiting for more evidence.
        </span>
        <textarea class="govuk-textarea" id="reason" name="reason" rows="5"></textarea>
      </div>

    {% else %}

      <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            <label for="reason">
            Notes
          </label>
          </h1>
        </legend>
        <div class="govuk-form-group">
          <span id="more-detail-hint" class="govuk-hint">
            Add a note if there is something the processing team should know. For example, if anything is missing or you are waiting for more evidence.
          </span>
          <textarea class="govuk-textarea" id="reason" name="reason" rows="5"></textarea>
        </div>
      </fieldset>

    {% endif %}

    <p><a href="status-confirmation?status=verified&nino={{getData.nino}}&early={{getData.early}}" class="govuk-button">Continue</a></p>

  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}