<section role="contentinfo" aria-label="Key details">
  <dl class="plain-heading">
    <dt class="govuk-visually-hidden">Name:</dt>
    <dd class="dwp-key-details-bar__name govuk-heading-l" style="margin-left: 0; margin-right: 15px; float: left;">
      Fred Flintstone
    </dd>
    <dt class="govuk-visually-hidden">Status:</dt>
    <dd class="dwp-key-details-bar__status" style="margin-left: 0; float: left; position: relative; top: 10px;">
      <strong class="app-c-tag app-c-tag--warning">Appointment booked</strong>
    </dd>
  </dl>
</section>

<div style="clear:both"></div>