<nav class="hmcts-sub-navigation" aria-label="Sub navigation">
  <ul class="hmcts-sub-navigation__list">
    <li class="hmcts-sub-navigation__item">
      <a
        class="hmcts-sub-navigation__link"
        {% if getData.current === "claimant-overview" %}
          aria-current="page"
        {% elseif getData.current %}
        {% else %}
          aria-current="page"
        {% endif %}
        href="claimant-overview?current=claimant-overview&amp;nino={{getData.nino}}&amp;status={{getData.status}}&amp;twojobs={{getData.twojobs}}&amp;early={{getData.early}}"
      >
        Overview
      </a>
    </li>
    <li class="hmcts-sub-navigation__item">
      <a
      class="hmcts-sub-navigation__link"
      {% if getData.current === "claim-form" %}aria-current="page"{% endif %}
      href="claim-form?current=claim-form&amp;nino={{getData.nino}}&amp;status={{getData.status}}&amp;twojobs={{getData.twojobs}}&amp;early={{getData.early}}"
      >
        Claim form
      </a>
    </li>
    <li class="hmcts-sub-navigation__item">
      <a
      class="hmcts-sub-navigation__link"
      {% if getData.current === "documents" %}aria-current="page"{% endif %}
      href="documents?current=documents&amp;nino={{getData.nino}}&amp;status={{getData.status}}&amp;twojobs={{getData.twojobs}}&amp;early={{getData.early}}"
      >
        Documents (2)
      </a>
    </li>
  </ul>
</nav>