{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "wcv4/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "wcv4/_service-name.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="home" rel="prev" class="govuk-back-link">Find or add a claim</a>
  </div>
  {% include "wcv4/_key-details.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    {% include "wcv4/_special-rules-notice.html" %}

    {% include "wcv4/_sub-nav.html" %}

    <h1 class="govuk-visually-hidden">Claim form</h1>

    <br>
    
    {% include "wcv4/_claim-form-answers.html" %}

  </div>{# /govuk-grid-column-two-thirds #}

  {% include "wcv4/_claim-actions.html" %}

</div>{# /govuk-grid-row #}

{% endblock %}