{% extends "layout_staff.html" %}

{% block pageTitle %}
  Update status - Fred Flintstone - Apply for new style Employment and Support Allowance
{% endblock %}

{% set bodyClasses = "hero-header" %}

{% block content %}

{% include "wcv1/_header.html" %}

<div style="margin-bottom: 30px;">
  <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row container">

  <div class="govuk-grid-column-two-thirds">

    <form action="status-changing" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Update the status of this claim
            </h1>
          </legend>
          <input id="nino" name="nino" type="hidden" value="{{getData.nino}}">

            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="verified" name="status" type="radio" value="verified" aria-describedby="hint-verified">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="verified">
                  Appointment booked
                </label>
                <span id="hint-verified" class="govuk-hint govuk-radios__hint">An appointment has been made for the claimant and this has been recorded in Q Flow.</span>
              </div>
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="cancelled" name="status" type="radio" value="cancelled" aria-describedby="hint-cancelled">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="cancelled">
                  Withdrawn (or duplicate)
                </label>
                <span id="hint-cancelled" class="govuk-hint govuk-radios__hint">The claimant has chosen not to continue with this claim. This might be because they no longer need the benefit or they have confirmed that this claim is a duplicate.</span>
              </div>
              
            </div>{# /govuk-radios #}

        </fieldset>
      </div>{# /govuk-form-group #}

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </form>

  </div>{# /govuk-grid-column-two-thirds #}


</div>{# /govuk-grid-row #}

{% endblock %}