



<h2 class="govuk-heading-m">Voluntary work (1 of 1)</h2>

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: {text: "Voluntary job employer"},
      value: {text: "Oxfam"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Voluntary job address"},
      value: {html: "
        72 Guild street<br>
        London<br>
        SF23 6FH
        "},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Voluntary work telephone number"},
      value: {text: "020 7946 0809"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Type of voluntary work"},
      value: {text: "Spend some time helping on the tills and washing clothes before they go on sale."},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Hours they volunteer each week"},
      value: {text: "1"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    }
  ]
})}}