{% extends "layout_staff_v2.html" %}

{% block pageTitle %}
  Claim summary - Apply for ‘new style’ Employment and Support Allowance
{% endblock %}

{% set bodyClasses = "hero-header" %}

{% block content %}

{% include "wcv1/_header.html" %}

<div style="margin-bottom: 30px;">
  <a href="home" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row container">

  <div class="govuk-grid-column-two-thirds">

    {% if getData.sr %}

    <div class="govuk-inset-text alert-default" style="margin-top: 0;">
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Special rules
        </strong>
      </div>
    </div>

    {% endif %}

    <h1 class="govuk-heading-l">Documents to check at the appointment</h1>

    <h2 class="govuk-heading-m">Identity documents</h2>

    <p>You will need to see the following identity documents:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>1 primary identity document, such as a current passport, driving licence or bank card</li>
      <li>2 secondary identity documents that prove their name and address, such as a utility bill, bank statement, hospital letter or birth certificate</li>
    </ul>

    <p>If they do not have their identity documents, you should do a biometric check.</p>

    <h2 class="govuk-heading-m">Supporting evidence</h2>

    <p>The claimant should also bring the following evidence:</p>

    <ul class="govuk-list govuk-list--bullet">
      {% if getData.fitnotes %}<li>fit notes</li>{% endif %}
      {% if getData.ssp1 %}<li>SSP1 form</li>{% endif %}
      {% if getData.p45 %}<li>P45 form</li>{% endif %}
      {% if getData.boots %}<li>their 2 most recent monthly pay slips from Boots</li>{% endif %}
      {% if getData.pension %}<li>their pension statements</li>{% endif %}
    </ul>

    <p>If they do not bring this supporting evidence, you can still send the claim for processing. Other evidence will be requested later.</p>

    <br>
    <br>

  </div>{# /govuk-grid-column-two-thirds #}

  {% if getData.status === "cancelled" %}
  {% else %}

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items status-verified" role="complementary">
        <h3 class="govuk-heading-m" id="claim-actions-title">Claim actions</h3>
        <nav role="navigation" aria-labelledby="claim-actions-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li><a href="claim-form?nino={{getData.nino}}&amp;status={{getData.status}}&sr={{getData.sr}}&ssp1={{getData.ssp1}}&fitnotes={{getData.fitnotes}}&early={{getData.early}}">View or update the claim</a></li>
        </ul>
      </nav>
        <a href="status?nino={{getData.nino}}&amp;status={{getData.status}}" class="govuk-button">Change claim status</a>
      </aside>
    </div>{# /govuk-grid-column-one-third #}
  {% endif %}

</div>{# /govuk-grid-row #}

{% endblock %}