
{% extends "layout_staff.html" %}

{% block pageTitle %}
  Verify new claims - Apply for ‘new style’ Employment and Support Allowance
{% endblock %}

{% block beforeContent %}
<div class=""></div>
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

  	<h1 class="govuk-heading-l">Scan and upload the signed claimant commitment and supporting evidence</h1>

  	<p>Information about which documents should be included here.</p>

    <p>Upload form here</p>

    <a href="create-clerical-5" class="govuk-button">Continue</a>

  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}