
{% extends "layout_staff.html" %}

{% block pageTitle %}
  Verify new claims - Apply for ‘new style’ Employment and Support Allowance
{% endblock %}

{% block beforeContent %}
<div style="margin-bottom: 30px;">
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full">

    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-2 govuk-!-margin-bottom-6">
      <h1 class="govuk-panel__title">Claim added</h1>
      <div class="govuk-panel__body">The claim for Barney Rubble has been added.</div>
    </div>

    <a href="home" class="govuk-button">Finish</a>

  </div>{# /govuk-grid-column-full #}

</div>{# /govuk-grid-row #}

{% endblock %}