{% extends "layout_staff.html" %}

{% block pageTitle %}
  Send an email
{% endblock %}

{% set bodyClasses = "hero-header" %}

{% block content %}

<br>
<br>
<h1>Email templates for Burnley processing centre</h1>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="mailto:inbox@testing.gov.uk?subject=Digital%20claim%20-%20%5BNAME%20OF%20CLAIMANT%20GOES%20HERE%5D&body=This%20claimant%20has%20signed%20the%20claimant%20commitment%20and%20verified%20their%20identity.%0A%0A%5BATTACH%20SCANNED%20EVIDENCE%20HERE%5D">Verified digital claim</a></li>
  <li><a href="mailto:inbox@testing.gov.uk?subject=Special%20rules%20-%20Digital%20claim%20-%20%5BNAME%20OF%20CLAIMANT%20GOES%20HERE%5D&body=This%20claimant%20has%20signed%20the%20claimant%20commitment%20and%20verified%20their%20identity.%0A%0A%5BATTACH%20SCANNED%20EVIDENCE%20HERE%5D">Verified digital claim (special rules)</a></li>
  <li><a href="mailto:inbox@testing.gov.uk?subject=Clerical%20claim%20-%20%5BNAME%20OF%20CLAIMANT%20GOES%20HERE%5D&body=This%20claimant%20has%20signed%20the%20claimant%20commitment%20and%20verified%20their%20identity.%0A%0A%5BATTACH%20SCANNED%20CLAIM%20FORM%20AND%20%20EVIDENCE%20HERE%5D">Verified clerical claim</a></li>
  <li><a href="mailto:inbox@testing.gov.uk?subject=Special%20rules%20-%20Clerical%20claim%20-%20%5BNAME%20OF%20CLAIMANT%20GOES%20HERE%5D&body=This%20claimant%20has%20signed%20the%20claimant%20commitment%20and%20verified%20their%20identity.%0A%0A%5BATTACH%20SCANNED%20CLAIM%20FORM%20AND%20%20EVIDENCE%20HERE%5D">Verified clerical claim (special rules)</a></li>
{#   <li><a href="#">Failed to attend digital claim</a></li> #}
</ul>

<br>
<br>
<br>
<br>
<br>

{% endblock %}