{% extends "layout_staff_master.html" %}

{% block pageTitle %}
  Apply for new style Employment and Support Allowance
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="/proto-index" rel="prev" class="govuk-back-link">Back to prototypes for testing in user research</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Work coach view - version 1</h1>

    <h2 class="govuk-heading-m">What we want to learn</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>How do they know about appointments? Do they use Q Flow?</li>
      <li>Under what circumstances would they contact a claimant?</li>
      <li>What do they use LMS for after the interview has ended?</li>
      <li>Is the file uploader intuitive?</li>
      <li>Do work coaches need access to the information users have submitted in the digital claim form?</li>
      <li>Do they understand which status to select and when?</li>
      <li>Do they know what to do after verifying a claim? If so, what do they do?</li>
      <li>Do they understand that they don’t need to upload the claimant commitment and identity documents?</li>
      <li>Do they enter information such as their staff number when providing a reason for disallowing a claim?</li>
      <li>Do they need to be able to disallow a claim or is it enough to either leave the status or mark it as ‘new appointment needed’</li>
      <li>Can they add a clerical claim?</li>
      <li>When adding a clerical form, do they upload the claim form and supporting evidence separately?</li>
      <li>Do they understand what ‘view or update the claim’ means?</li>
      <li>Is the information in the blue header useful?</li>
      <li>They spot the ‘special rules’ message</li>
      <li>Do the email templates work as expected on the machines work coaches use?</li>
      <li>Are the email templates intuitive?</li>
      <li>Do they realise they can search by name and National Insurance number?</li>
      <li>Do they choose to search by name or National Insurance number?</li>

    </ul>

    <h2 class="govuk-heading-m">Scenarios to test</h2>

    <ol class="govuk-list govuk-list--number govuk-body-m" style="font-weight: bold">
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ111111Z">Barney Rubble, QQ111111Z</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>SSP1</li>
          <li>fit notes</li>
          <li>pension statement</li>
        </ul>
        <div class="govuk-inset-text">
          Changes status to ‘verified’ and uploads supporting evidence.
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ112233A">Clark Kent, QQ112233A (special rules)</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>SSP1</li>
          <li>fit notes</li>
        </ul>
        <div class="govuk-inset-text">
          Changes status to ‘verified’ and uploads supporting evidence.
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ000011A">Buzz Lightyear, QQ000011A (special rules)</a></h3>
        <p>Fails to attend.</p>
        <div class="govuk-inset-text">
          Changes status to ‘New appointment needed’ which begins 1 month countdown to deletion of digital claim form.
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ111122B">Lois Lane, QQ111122B</a></h3>
        <p>Fails to attend.</p>
        <div class="govuk-inset-text">
          Changes status to ‘New appointment needed’ which begins 1 month countdown to deletion of digital claim form.
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ112233Z">Micky Mouse, QQ112233Z (part 1)</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>fit notes</li>
          <li>pension statement</li>
        </ul>
        <p>Doesn’t provide ID or SSP1.</p>
        <div class="govuk-inset-text">
          Changes status to ‘New appointment needed’ which begins 1 month countdown to deletion of digital claim form.
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ112233Z">Micky Mouse, QQ112233Z (part 2)</a></h3>
        <p>Returns to the Jobcentre and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>SSP1</li>
        </ul>
        <div class="govuk-inset-text">
          Once ID check is complete, agent changes status to ‘verified’ and uploads supporting evidence
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ231234Z">Marge Simpson, QQ231234Z (part 1)</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>SSP1</li>
          <li>fit notes</li>
          <li>pension statement</li>
        </ul>
        <p>Chooses not to sign claimant commitment.</p>
        <div class="govuk-inset-text">
          Changes status to ‘New appointment needed’ which begins 1 month countdown to deletion of digital claim form.
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ231234Z">Marge Simpson, QQ231234Z (part 2)</a></h3>
        <p>Attends and signs claimant commitment.</p>
        <div class="govuk-inset-text">
          Changes status to ‘verified’ and uploads supporting evidence.
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ001122A">Lex Luther, QQ001122A (part 1)</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>SSP1</li>
          <li>fit notes</li>
        </ul>
        <p>Pension statement is missing.</p>
        <div class="govuk-inset-text">
          Agent changes status to ‘verified’ and uploads supporting evidence
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ001122A">Lex Luther, QQ001122A (part 2)</a></h3>
        <p>Returns to jobcentre and provides the following:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>fit notes</li>
          <li>pension statement</li>
        </ul>
        <div class="govuk-inset-text">
          Agent uploads further supporting evidence
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ010101A">Minnie Mouse, QQ010101A</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>SSP1</li>
          <li>fit notes</li>
        </ul>
        <p>She wasn’t sure it worked out the first time she filled in the form online, so filled it in again, but knows the information was the same on both.</p>
        <p>During discussions, she realises she is able to claim from an earlier date.</p>
        <div class="govuk-inset-text">
          <p>Checks with claimant which form to use, edits the claim date, then changes status to ‘verified’ and uploads supporting evidence and changes status to ‘withdrawn’ for all other application forms.</p>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ112233B">Fred Flintstone, QQ112233B (part 1)</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>only one form of ID</li>
          <li>SSP1</li>
          <li>fit notes</li>
        </ul>
        <p>Fit notes are missing.</p>
        <div class="govuk-inset-text">
          Agent completes a biometric test and changes status to ‘new appointment needed’
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ112233B">Fred Flintstone, QQ112233B (part 2)</a></h3>
        <p>Returns to jobcentre and provides the following:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>full ID</li>
        </ul>
        <div class="govuk-inset-text">
          Agent changes status to 'verified' and uploads supporting evidence
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ112233C">Homer Simpson, QQ112233C</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>SSP1</li>
          <li>fit notes</li>
          <li>pension statements</li>
        </ul>
        <p>He’s submitted 2 claims as he needed to change some information.</p>
        <div class="govuk-inset-text">
          Checks with customer which form to use, then changes status to ‘verified’ and uploads supporting evidence and changes status to ‘withdrawn’ for all other application forms.
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ121212A">Snow White, QQ121212A</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>SSP1</li>
          <li>fit notes</li>
        </ul>
        <p>She was going to fill in the form online but got a bit confused by the questions and so they stopped completing it. She decides to complete a paper form instead.</p>
        <div class="govuk-inset-text">
          <p>Asks her if she’s submitted a digital application and then checks to see if she’d prefer to complete a digital or clerical form.</p>
          <p>Once action has been taken to complete clerical form, agent adds new clerical claim, uploads claim form and supporting evidence.</p>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ123456Z">Bugs Bunny, QQ123456Z</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>SSP1</li>
          <li>fit notes</li>
        </ul>
        <p>They think they’ve completed the form online. They end up deciding to complete a paper claim form instead.</p>
        <div class="govuk-inset-text">
          <p>Searches for claimant by name vs. NINO. Or agent uses Searchlight/CIS to confirm details.</p>
          <p>Asks customer if they have submitted a digital application and asks them to complete a digital or clerical form.</p>
          <p>Once action has been taken to complete clerical form, agent adds new clerical claim, uploads claim form and supporting evidence.</p>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
    </ol>

    <h2 class="govuk-heading-m">Email templates</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="mailto:inbox@testing.gov.uk?subject=Digital%20claim%20-%20%5BNAME%20OF%20CLAIMANT%20GOES%20HERE%5D&body=This%20claimant%20has%20signed%20the%20claimant%20commitment%20and%20verified%20their%20identity.%0A%0A%5BATTACH%20SCANNED%20EVIDENCE%20HERE%5D">Verified digital claim</a></li>
      <li><a href="mailto:inbox@testing.gov.uk?subject=Special%20rules%20-%20Digital%20claim%20-%20%5BNAME%20OF%20CLAIMANT%20GOES%20HERE%5D&body=This%20claimant%20has%20signed%20the%20claimant%20commitment%20and%20verified%20their%20identity.%0A%0A%5BATTACH%20SCANNED%20EVIDENCE%20HERE%5D">Verified digital claim (special rules)</a></li>
      <li><a href="mailto:inbox@testing.gov.uk?subject=Clerical%20claim%20-%20%5BNAME%20OF%20CLAIMANT%20GOES%20HERE%5D&body=This%20claimant%20has%20signed%20the%20claimant%20commitment%20and%20verified%20their%20identity.%0A%0A%5BATTACH%20SCANNED%20CLAIM%20FORM%20AND%20%20EVIDENCE%20HERE%5D">Verified clerical claim</a></li>
      <li><a href="mailto:inbox@testing.gov.uk?subject=Special%20rules%20-%20Clerical%20claim%20-%20%5BNAME%20OF%20CLAIMANT%20GOES%20HERE%5D&body=This%20claimant%20has%20signed%20the%20claimant%20commitment%20and%20verified%20their%20identity.%0A%0A%5BATTACH%20SCANNED%20CLAIM%20FORM%20AND%20%20EVIDENCE%20HERE%5D">Verified clerical claim (special rules)</a></li>
    {#   <li><a href="#">Failed to attend digital claim</a></li> #}
  </ul>

    <h2 class="govuk-heading-m">What we learned</h2>

    <p>To follow&hellip;</p>
    
  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}