{% extends "layout_master.html" %}

{% block pageTitle %}
  Work coach view &ndash; Version 1 &ndash; Prototypes &ndash; {{ serviceName }}
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="/proto-index" rel="prev" class="govuk-back-link">Back to prototypes for testing in user research</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Work coach view – version 1</h1>

    <h2 class="govuk-heading-m">What we want to learn</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>How do they know about appointments? Do they use Q Flow?</li>
      <li>Under what circumstances would they contact a claimant?</li>
      <li>What do they use LMS for after the interview has ended?</li>
      <li>Is the file uploader intuitive?</li>
      <li>Do work coaches need access to the information users have submitted in the digital claim form?</li>
      <li>Do they understand which status to select and when?</li>
      <li>Do they know what to do after verifying a claim? If so, what do they do?</li>
      <li>Do they understand that they don’t need to upload the claimant commitment and identity documents?</li>
      <li>Do they enter information such as their staff number when providing a reason for disallowing a claim?</li>
      <li>Do they need to be able to disallow a claim or is it enough to either leave the status or mark it as ‘new appointment needed’</li>
      <li>Can they add a clerical claim?</li>
      <li>When adding a clerical form, do they upload the claim form and supporting evidence separately?</li>
      <li>Do they understand what ‘view or update the claim’ means?</li>
      <li>Is the information in the blue header useful?</li>
      <li>They spot the ‘special rules’ message</li>
      <li>Do the email templates work as expected on the machines work coaches use?</li>
      <li>Are the email templates intuitive?</li>
      <li>Do they realise they can search by name and National Insurance number?</li>
      <li>Do they choose to search by name or National Insurance number?</li>

    </ul>

    <h2 class="govuk-heading-m">Scenarios to test</h2>

    <ol class="govuk-list govuk-list--number govuk-body-m" style="font-weight: bold">
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ111111Z">Barney Rubble, QQ111111Z</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>SSP1</li>
          <li>fit notes</li>
          <li>pension statement</li>
        </ul>
        <div class="govuk-inset-text">
          Changes status to ‘verified’ and uploads supporting evidence.
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ112233A">Clark Kent, QQ112233A (special rules)</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>SSP1</li>
          <li>fit notes</li>
        </ul>
        <div class="govuk-inset-text">
          Changes status to ‘verified’ and uploads supporting evidence.
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ000011A">Buzz Lightyear, QQ000011A (special rules)</a></h3>
        <p>Fails to attend.</p>
        <div class="govuk-inset-text">
          Changes status to ‘New appointment needed’ which begins 1 month countdown to deletion of digital claim form.
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ111122B">Lois Lane, QQ111122B</a></h3>
        <p>Fails to attend.</p>
        <div class="govuk-inset-text">
          Changes status to ‘New appointment needed’ which begins 1 month countdown to deletion of digital claim form.
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ112233Z">Micky Mouse, QQ112233Z (part 1)</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>fit notes</li>
          <li>pension statement</li>
        </ul>
        <p>Doesn’t provide ID or SSP1.</p>
        <div class="govuk-inset-text">
          Changes status to ‘New appointment needed’ which begins 1 month countdown to deletion of digital claim form.
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ112233Z">Micky Mouse, QQ112233Z (part 2)</a></h3>
        <p>Returns to the Jobcentre and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>SSP1</li>
        </ul>
        <div class="govuk-inset-text">
          Once ID check is complete, agent changes status to ‘verified’ and uploads supporting evidence
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ231234Z">Marge Simpson, QQ231234Z (part 1)</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>SSP1</li>
          <li>fit notes</li>
          <li>pension statement</li>
        </ul>
        <p>Chooses not to sign claimant commitment.</p>
        <div class="govuk-inset-text">
          Changes status to ‘New appointment needed’ which begins 1 month countdown to deletion of digital claim form.
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ231234Z">Marge Simpson, QQ231234Z (part 2)</a></h3>
        <p>Attends and signs claimant commitment.</p>
        <div class="govuk-inset-text">
          Changes status to ‘verified’ and uploads supporting evidence.
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ010101A">Minnie Mouse, QQ010101A</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>SSP1</li>
          <li>fit notes</li>
        </ul>
        <p>She wasn’t sure it worked out the first time she filled in the form online, so filled it in again, but knows the information was the same on both.</p>
        <p>During discussions, she realises she is able to claim from an earlier date.</p>
        <div class="govuk-inset-text">
          <p>Checks with claimant which form to use, edits the claim date, then changes status to ‘verified’ and uploads supporting evidence and changes status to ‘withdrawn’ for all other application forms.</p>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ112233B">Fred Flintstone, QQ112233B (part 1)</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>only one form of ID</li>
          <li>SSP1</li>
          <li>fit notes</li>
        </ul>
        <p>Fit notes are missing.</p>
        <div class="govuk-inset-text">
          Agent completes a biometric test and changes status to ‘new appointment needed’
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ112233B">Fred Flintstone, QQ112233B (part 2)</a></h3>
        <p>Returns to jobcentre and provides the following:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>full ID</li>
        </ul>
        <div class="govuk-inset-text">
          Agent changes status to 'verified' and uploads supporting evidence
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ112233C">Homer Simpson, QQ112233C</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>SSP1</li>
          <li>fit notes</li>
          <li>pension statements</li>
        </ul>
        <p>He’s submitted 2 claims as he needed to change some information.</p>
        <div class="govuk-inset-text">
          Checks with customer which form to use, then changes status to ‘verified’ and uploads supporting evidence and changes status to ‘withdrawn’ for all other application forms.
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ121212A">Snow White, QQ121212A</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>SSP1</li>
          <li>fit notes</li>
        </ul>
        <p>She was going to fill in the form online but got a bit confused by the questions and so they stopped completing it. She decides to complete a paper form instead.</p>
        <div class="govuk-inset-text">
          <p>Asks her if she’s submitted a digital application and then checks to see if she’d prefer to complete a digital or clerical form.</p>
          <p>Once action has been taken to complete clerical form, agent adds new clerical claim, uploads claim form and supporting evidence.</p>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
      
      <li>
        <h3 class="govuk-heading-s"><a href="/wcv1/home?nino=QQ123456Z">Bugs Bunny, QQ123456Z</a></h3>
        <p>Attends and provides:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ID</li>
          <li>SSP1</li>
          <li>fit notes</li>
        </ul>
        <p>They think they’ve completed the form online. They end up deciding to complete a paper claim form instead.</p>
        <div class="govuk-inset-text">
          <p>Searches for claimant by name vs. NINO. Or agent uses Searchlight/CIS to confirm details.</p>
          <p>Asks customer if they have submitted a digital application and asks them to complete a digital or clerical form.</p>
          <p>Once action has been taken to complete clerical form, agent adds new clerical claim, uploads claim form and supporting evidence.</p>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </li>
    </ol>

    <h2 class="govuk-heading-m">Email templates</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="mailto:inbox@testing.gov.uk?subject=Digital%20claim%20%E2%80%93%C2%A0Verified%20%E2%80%93%20%5BTHEIR%20NAME%5D%2C%20%5BNATIONAL%20INSURANCE%20NUMBER%5D&body=This%20claimant%20has%20proved%20their%20identity%20and%20signed%20their%20claimant%20commitment.%0A%0AClaimant%0A--%0A%5BTHEIR%20NAME%5D%0A%0ANational%20Insurance%20number%0A--%0A%5BNATIONAL%20INSURANCE%20NUMBER%5D%0A%0AEvidence%20attached%0A--%0A*%0A*%0A*">Verified digital claim</a></li>
      <li><a href="mailto:inbox@testing.gov.uk?subject=SPECIAL%20RULES%20–%20Digital%20claim%20%E2%80%93%C2%A0Verified%20%E2%80%93%20%5BTHEIR%20NAME%5D%2C%20%5BNATIONAL%20INSURANCE%20NUMBER%5D&body=This%20claimant%20has%20proved%20their%20identity%20and%20signed%20their%20claimant%20commitment.%0A%0AClaimant%0A--%0A%5BTHEIR%20NAME%5D%0A%0ANational%20Insurance%20number%0A--%0A%5BNATIONAL%20INSURANCE%20NUMBER%5D%0A%0AEvidence%20attached%0A--%0A*%0A*%0A*">Verified digital claim (special rules)</a></li>
      <li><a href="mailto:inbox@testing.gov.uk?subject=Digital claim – Failed to attend – [THEIR NAME], [NATIONAL INSURANCE NUMBER]&body=This claimant failed to attend their new claim appointment on [DATE HERE] July 2019.%0A%0A
Claimant%0A
--%0A
[THEIR NAME]
%0A%0A
National Insurance number%0A
--%0A
[NATIONAL INSURANCE NUMBER]">Failed to attend digital claim</a>
      </li>
      <li><a href="mailto:?subject=SPECIAL RULES – Digital claim – Failed to attend – [THEIR NAME], [NATIONAL INSURANCE NUMBER]&body=This claimant failed to attend their new claim appointment on [DATE HERE] July 2019.%0A%0A
Claimant%0A
--%0A
[THEIR NAME]
%0A%0A
National Insurance number%0A
--%0A
[NATIONAL INSURANCE NUMBER]">Failed to attend digital claim (special rules)</a>
      </li>

    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">What we learned</h2>

    <h2 class="govuk-heading-s">Current process for clerical claims</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Work coaches look through the claim form before seeing the claimant.</li>
      <li>Processes vary from work coach to work coach:
        <ul class="govuk-list govuk-list--bullet">
          <li>What is the correct process for booking another appointment (if haven’t got enough ID etc)?</li>
          <li>When should a bio test be done? Why can’t it be done if a claimant has forgotten their ID?</li>
          <li>We need to make it super clear that ID and claimant commitment don’t need to be uploaded</li>
        </ul>
      </li>
      <li>Can we eliminate the need for follow up ID appointments by always doing a bio check?</li>
      <li>Half of claimants who’ve completed a clerical form need to make a change when they see a work coach before it gets sent to be processed. A clear need here.</li>
      <li>The only relevant things on the claimant commitment for ESA claimants are the information about letting us know about change of circumstances and to continue sending fit notes.</li>
      <li>Work coaches need to enter information in LMS that isn’t used, just because LMS requires it. LMS is only really used for a conversation history. Work coaches like the UC system because the conversation history is in one place and clear.</li>
    </ul>

    <h2 class="govuk-heading-s">General UI</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Special rules notice didn’t seem to be spotted as clearly – might need to do some more testing on styles of this.</li>
      <li>Didn’t seem to be any important info missing from blue header. Most seem to find it all useful in order to quickly check that they’re looking at the right person, rather than having to go into the full claim form to check.</li>
      <li>‘View or update the claim’ was understood.</li>
    </ul>

    <h2 class="govuk-heading-s">Searching for a claimant</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Work coaches are used to typing lowercase National Insurance numbers in the search box.</li>
      <li>Being able to search by name is useful, especially if there are no results for a National Insurance number.</li>
      <li>Work coaches are used to searching for a claimant using their name. They often abbreviate the name when typing, so they could enter ‘joh smi’ instead of typing ‘john smith’.</li>
    </ul>

    <h2 class="govuk-heading-s">Statuses</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>The ‘Verified’ status was understood.</li>
      <li>‘New appointment needed’ doesn’t seem like quite the right label. Seems like this should be split up into two statuses - ‘failed to attend’ and ‘follow up appointment needed’ perhaps?
      <li>‘Fail to attend’ is term that is understood.</li>
      <li>What about a status if they book the new appointment themselves? More to think about here&hellip;</li>
      <li>Maybe don’t need the notes text box if we have an explicit ‘failed to attend’ status.</li>
      <li>The ‘withdrawn (or duplicate)’ status was understood.</li>
      <li>All work coaches entered information in the text box that appeared. None felt the need to enter any information about who they were (staff number etc).</li>
      <li>One work coach questioned whether the supporting evidence related to this claim or was generic – this could be made clearer.</li>
      <li>There was no need identified for work coaches to be able to ‘disallow’ a claim.</li>
    </ul>

    <h2 class="govuk-heading-s">Duplicate claims</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Work coaches understood what they’d need to do if someone had come in and completed two forms – withdraw the one that wasn’t need.</li>
    </ul>

    <h2 class="govuk-heading-s">File uploads</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>File upload process caused no issues. All work coaches had used this pattern in the UC system.</li>
      <li>Work coaches will need a way of adding attachments after a claim has been verified - would be ideal for them to let processors know that a claimant will be giving evidence to them, rather than processors chasing up the same stuff.</li>
      <li>One work coach said a notes box to say which documents are being uploaded would be useful. This is worth exploring and is something we do currently with in email template..</li>
    </ul>

    <h2 class="govuk-heading-s">Adding a new clerical claim</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>No issues adding a clerical claim.</li>
    </ul>

    <h2 class="govuk-heading-s">Email templates</h2>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>Email templates worked fine on the work coach we tested them with instinctively knew how to populate them with the correct information. The hyphens weren’t displaying correctly, so we should change how these are being encoded.</li>
    </ul>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}