{% extends "layout_staff_v2.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% set bodyClasses = "hero-header" %}

{% block content %}

{% include "wcv1/_header.html" %}

<div style="margin-bottom: 30px;">
  <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row container">

  <div class="govuk-grid-column-two-thirds">

    <form action="status-changing" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Change the status of this claim
            </h1>
          </legend>
          <input id="nino" name="nino" type="hidden" value="{{getData.nino}}">

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="verified" name="status" type="radio" value="verified" aria-describedby="hint-verified">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="verified">
                  Verified
                </label>
                <span id="hint-verified" class="govuk-hint govuk-radios__hint">The claimant has proved their identity and signed their claimant commitment.</span>
              </div>

              {% if getData.status === "newappointmentneeded" %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="appointmentbooked" name="status" type="radio" value="appointmentbooked" aria-describedby="hint-appointmentbooked">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="appointmentbooked">
                 Appointment booked
                </label>
{#                 <span id="hint-fta" class="govuk-hint govuk-radios__hint">Something here.</span> #}
              </div>
              {% else %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="newappointmentneeded" name="status" type="radio" value="newappointmentneeded" aria-describedby="hint-newappointmentneeded">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="newappointmentneeded">
                  New appointment needed
                </label>
                <span id="hint-fta" class="govuk-hint govuk-radios__hint">The claimant failed to attend their appointment, could not prove their identity or needs more time to consider their claimant commitment.</span>
              </div>
              {% endif %}

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="withdrawn" name="status" type="radio" value="withdrawn" aria-describedby="hint-withdrawn" data-aria-controls="conditional-withdrawn">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="withdrawn">
                  Withdrawn (or duplicate)
                </label>
                <span id="hint-withdrawn" class="govuk-hint govuk-radios__hint">The claimant has chosen not to continue with this claim. This might be because they no longer need the benefit or they have confirmed that this claim is a duplicate.</span>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-withdrawn">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="reason">
                    Enter the reason why
                  </label>
                  <textarea class="govuk-textarea" id="reason" name="reason" rows="5"></textarea>
                </div>
              </div>

            </div>{# /govuk-radios #}

        </fieldset>
      </div>{# /govuk-form-group #}

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </form>

  </div>{# /govuk-grid-column-two-thirds #}


</div>{# /govuk-grid-row #}

{% endblock %}