{% extends "layout_staff.html" %}

{% block pageTitle %}
  Status updated - Fred Flintstone - Apply for new style Employment and Support Allowance
{% endblock %}

{% set bodyClasses = "hero-header" %}

{% block content %}

{% include "wcv1/_header.html" %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full govuk-!-margin-top-4">

    {% if getData.status === "verified" %}
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-2 govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">Claim verified</h1>
        <div class="govuk-panel__body">This claim will now be picked up by the processing&nbsp;team.</div>
      </div>
    {% elif getData.status === "newappointmentneeded" %}
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-2 govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">New appointment needed</h1>
        <div class="govuk-panel__body">Something here.</div>
      </div>
    {% elif getData.status === "withdrawn" %}
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-2 govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">Withdrawn</h1>
        <div class="govuk-panel__body">Something here.</div>
      </div>
    {% endif %}

    {% if origin === "duplicates" %}
      <a href="/wcv1/applications-duplicate-ninos" role="button" draggable="false" class="govuk-button">Back to duplicate and old applications</a>
    {% else %}
      <a href="/wcv1/home" role="button" draggable="false" class="govuk-button">Finish</a>
    {% endif %}

  </div>{# /govuk-grid-column-full #}

</div>{# /govuk-grid-row #}

{% endblock %}