



<h2 class="govuk-heading-m">Voluntary work (1 of 1)</h2>

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: {text: "Voluntary organisation"},
      value: {text: "Oxfam"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Address"},
      value: {html: "
        72 Guild street<br>
        London
        "},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Postcode"},
      value: {html: "
        SF23 6FH
        "},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Telephone number"},
      value: {text: "02079460809"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Type of voluntary work"},
      value: {text: "Spend some time helping on the tills and washing clothes before they go on sale."},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Hours they volunteer each week"},
      value: {text: "1"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    }
  ]
})}}