{% extends "layout_master.html" %}

{% block pageTitle %}
  Iteration 3 &ndash; Reference screens &ndash; {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="/proto-index" rel="prev" class="govuk-back-link">Back to prototypes for testing in user research</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Work coach email link testing</h1>

    <h2 class="govuk-heading-m">What we want to learn</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Email templates tested well. The ‘failed to attend’ template was unexpected, but only because they do not currently have a process for people who miss their appointment.</li>
      <li>Users could articulate what the link to the templates would do, and understood what to do with the pre-populated email when it opened. One person was a little surprised that they still had to attach documents.</li>
      <li>‘General email’ was not clear - they suggested words like ‘enquiry’ and ‘query’</li>
    </ul>

    <h2 class="govuk-heading-m">Screens</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/wcel/search?version=1">Version 1</a></li>
      <li><a href="/wcel/search?version=2">Version 2</a></li>
    </ul>
    
  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}