<div class="govuk-grid-column-one-quarter">
{# 	<h3 class="govuk-heading-m" id="claim-actions-title">This claim</h3> #}

  <nav aria-label="Sub navigation">
  <ul class="dwp-vertical-navigation">
    <li>
      <a
        {% if getData.current === "claimant-overview" %}
          aria-current="page"
        {% elseif getData.current %}
        {% else %}
          aria-current="page"
        {% endif %}
        href="claimant-overview?current=claimant-overview&amp;nino={{getData.nino}}&amp;status={{getData.status}}&amp;twojobs={{getData.twojobs}}&amp;early={{getData.early}}"
      >
        Overview
      </a>
    </li>
    <li>
      <a
      {% if getData.current === "claim-form" %}aria-current="page"{% endif %}
      href="claim-form?current=claim-form&amp;nino={{getData.nino}}&amp;status={{getData.status}}&amp;twojobs={{getData.twojobs}}&amp;early={{getData.early}}"
      >
        Full claim form
      </a>
    </li>
    <li>
      <a
      {% if getData.current === "documents" %}aria-current="page"{% endif %}
      href="documents?current=documents&amp;nino={{getData.nino}}&amp;status={{getData.status}}&amp;twojobs={{getData.twojobs}}&amp;early={{getData.early}}"
      >
        Documents (2)
      </a>
    </li>
  </ul>
</nav>

  <aside class="" role="complementary">
    
    <a href="q-attended?nino={{getData.nino}}&amp;status={{getData.status}}&amp;twojobs={{getData.twojobs}}&amp;early={{getData.early}}" class="govuk-button">Change claim status</a>
    <nav role="navigation" aria-labelledby="claim-actions-title" style="margin-top:  0px">
      <ul class="govuk-list govuk-!-font-size-16">
        <li><a href="withdraw-confirmation">Withdraw this claim</a></li>
      </ul>
    </nav>
  </aside>

  <br>
  <br>
  <br>

</div>{# /govuk-grid-column-one-third #}