<div class="govuk-grid-column-one-quarter">
  <nav aria-label="Sub navigation">
    <ul class="dwp-vertical-navigation">
      <li>
        <a
          {% if getData.current === "claimant-overview" %}
            aria-current="page"
          {% elseif getData.current %}
          {% else %}
            aria-current="page"
          {% endif %}
          href="claimant-overview?current=claimant-overview&amp;nino={{getData.nino}}&amp;status={{getData.status}}&amp;twojobs={{getData.twojobs}}&amp;early={{getData.early}}&amp;documents={{getData.documents}}"
        >
          Overview
        </a>
      </li>
      <li>
        <a
        {% if getData.current === "claim-form" %}aria-current="page"{% endif %}
        href="claim-form?current=claim-form&amp;nino={{getData.nino}}&amp;status={{getData.status}}&amp;twojobs={{getData.twojobs}}&amp;early={{getData.early}}&amp;documents={{getData.documents}}"
        >
          Full claim form
        </a>
      </li>
      <li>
        <a
        {% if getData.current === "documents" %}aria-current="page"{% endif %}
        href="documents?current=documents&amp;nino={{getData.nino}}&amp;status={{getData.status}}&amp;twojobs={{getData.twojobs}}&amp;early={{getData.early}}&amp;documents={{getData.documents}}"
        >
        Documents
        {% if getData.documents === "true" %}
          {% if getData.documentsfilename3 %}
            (5)
          {% elif getData.documentsfilename2 %}
            (4)
          {% elif getData.documentsfilename1 %}
            (3)
          {% else %}
            (2)
          {% endif %}
        {% else %}
          (0)
        {% endif %}
        </a>
      </li>
    </ul>
  </nav>

  {% if getData.status === "withdrawn" or getData.status === "processed" or getData.status === "disallowed" %}

  {% elif getData.status === "fta" %}
    <aside class="" role="complementary" style="margin-bottom: 40px">
      <a href="status?nino={{getData.nino}}&amp;status={{getData.status}}&amp;twojobs={{getData.twojobs}}&amp;early={{getData.early}}&amp;documents={{getData.documents}}" class="govuk-button">Change claim status</a>
      <nav role="navigation" aria-labelledby="claim-actions-title" style="margin-top:  0px">
        <ul class="govuk-list govuk-!-font-size-16">
          <li><a href="withdraw-confirmation">Withdraw this claim</a></li>
        </ul>
      </nav>
    </aside>
  {% elif getData.status === "verified" %}
    <aside class="" role="complementary" style="margin-bottom: 40px">
      <a href="status?nino={{getData.nino}}&amp;status={{getData.status}}&amp;twojobs={{getData.twojobs}}&amp;early={{getData.early}}&amp;documents={{getData.documents}}" class="govuk-button">Change claim status</a>
      <nav role="navigation" aria-labelledby="claim-actions-title" style="margin-top:  0px">
        <ul class="govuk-list govuk-!-font-size-16">
          <li><a href="withdraw-confirmation">Withdraw this claim</a></li>
        </ul>
      </nav>
    </aside>
  {% else %}
    <aside class="" role="complementary" style="margin-bottom: 40px">
      <a href="q-attended?nino={{getData.nino}}&amp;status={{getData.status}}&amp;twojobs={{getData.twojobs}}&amp;early={{getData.early}}&amp;documents={{getData.documents}}" class="govuk-button">Change claim status</a>
      <nav role="navigation" aria-labelledby="claim-actions-title" style="margin-top:  0px">
        <ul class="govuk-list govuk-!-font-size-16">
          <li><a href="withdraw-confirmation">Withdraw this claim</a></li>
        </ul>
      </nav>
    </aside>
  {% endif %}

</div>{# /govuk-grid-column-one-third #}