{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "wcv5/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "wcv5/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "wcv5/_key-details.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="home" rel="prev" class="govuk-back-link">Find or add another claim</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  {% include "wcv5/_claim-actions.html" %}

  <div class="govuk-grid-column-three-quarters">

    {% include "wcv5/_special-rules-notice.html" %}

    <h1 class="govuk-heading-l">Full claim</h1>

    {% include "wcv5/_claim-form-answers.html" %}

  </div>{# /govuk-grid-column-three-quarters #}

</div>{# /govuk-grid-row #}

{% endblock %}