{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "wcv5/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "wcv5/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "wcv5/_key-details.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="home" rel="prev" class="govuk-back-link">Find or add another claim</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  {% include "wcv5/_claim-actions.html" %}

  <div class="govuk-grid-column-three-quarters">

    {% include "wcv5/_special-rules-notice.html" %}

    <h1 class="govuk-heading-l">Claim overview</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-7 summary-view">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Application submitted
        </dt>
        <dd class="govuk-summary-list__value">
          15/10/2019, 10:30pm
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Claim start date
        </dt>
        <dd class="govuk-summary-list__value">
          22/10/2018
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          QQ123456C
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          05/01/1978
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Postcode
        </dt>
        <dd class="govuk-summary-list__value">
          NG1 5TY
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Timeline</h2>

      <ol class="dwp-timeline govuk-list">

        {% if getData.status === "processed" %}
        <li class="dwp-timeline__entry">
          <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Status changed to ‘processed’</h3>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__author">by Jane Doe, Processor at Burnley Service Centre</span>
            <span class="dwp-timeline__date">2 minutes ago</span>
          </p>
        </li>
        {% endif %}

        {% if getData.status === "verified" or getData.status === "processed" %}
        <li class="dwp-timeline__entry">
          <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Status changed to ‘verified’</h3>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__author">by John Smith, Work Coach at Rotherham Jobcentre Plus</span>
            <span class="dwp-timeline__date">4 minutes ago</span>
          </p>
        </li>
        {% endif %}

        {% if getData.status === "withdrawn" %}
        <li class="dwp-timeline__entry">
          <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Status changed to ‘withdrawn’</h3>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__author">by John Smith, Work Coach at Rotherham Jobcentre Plus</span>
            <span class="dwp-timeline__date">2 minutes ago</span>
          </p>
        </li>
        {% endif %}

        {% if getData.status === "verified" %}
        <li class="dwp-timeline__entry">
          <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Status changed to ‘failed to attend’</h3>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__author">by John Smith, Work Coach at Rotherham Jobcentre Plus</span>
            <span class="dwp-timeline__date">2 minutes ago</span>
          </p>
        </li>
        {% endif %}

        {% if getData.status === "fta" %}
        <li class="dwp-timeline__entry">
          <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Status changed to ‘failed to attend’</h3>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__author">by John Smith, Work Coach at Rotherham Jobcentre Plus</span>
            <span class="dwp-timeline__date">2 minutes ago</span>
          </p>
        </li>
        {% endif %}

        {% if getData.status === "newappointmentneeded" %}
        <li class="dwp-timeline__entry">
          <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Status changed to ‘new appointment needed’</h3>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__author">by John Smith, Work Coach at Rotherham Jobcentre Plus</span>
            <span class="dwp-timeline__date">2 minutes ago</span>
          </p>
          <p>Claimant failed to prove their identity.</p>
        </li>
        {% endif %}

        <li class="dwp-timeline__entry">
          <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Status changed to ‘appointment booked’</h3>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__author">by John Smith, Work Coach at Rotherham Jobcentre Plus</span>
            <span class="dwp-timeline__date">21 July 2019 at 5pm</span>
          </p>
        </li>

        <li class="dwp-timeline__entry">
          <h3 class="govuk-heading-s" style="margin-bottom: 5px;">Claim submitted</h3>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__date">12 July 2019 at 1:02pm</span>
          </p>
        </li>
      </ol>

  </div>{# /govuk-grid-column-three-quarters #}

</div>{# /govuk-grid-row #}

{% endblock %}