{% extends "layout_master.html" %}

{% block pageTitle %}
  Work Coach view &ndash; Version 5 &ndash; Prototypes &ndash; {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="/proto-index" rel="prev" class="govuk-back-link">Back to prototypes for testing in user research</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Work Coach view – version 5</h1>

    <h2 class="govuk-heading-m">Changes in this version</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Claim actions are now shown on the left of the screen</li>
      <li>There’s now a ‘Claim overview’ made up of a claim summary and the timeline (blue header has less information in it)</li>
      <li>‘Withdraw this claim’ has its own link in the sidebar</li>
      <li>Exploring whether the agent UI can replace the Agent Led Process sheet (ALP), so adopted more of a walkthrough approach to changing the claim status</li>
      <li>A buffer screen informs users what will happen before they change the status</li>
      <li>It’s possible to undo a withdrawn claim</li>
      <li>There’s a ’Back to their claim’ link status confirmation screens</li>
    </ul>

    <h2 class="govuk-heading-m">Why we made these changes</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>To explore how we could incorporate the Agent Led Process and LMS activities into the service and save work coach time and reduce the amount of systems and documents they have to refer to during the appointment</li>
      <li>To reduce the need to hold on to clerical information because there is a record of all activities, and the claim, in one place</li>
      <li>To reassure work coaches that they have done what they need to through questions and a check list, rather than asking them to interpret the meaning of statuses</li>
      <li>To provide more opportunities to add notes, beyond just recording what a processor should know - work coaches in previous tests were looking for places to record identity documents and confirm the claimant commitment was done</li>
      <li>To iterate the navigation now that there are sections of content (documents, claim, overview) as well as actions</li>
    </ul>

    <h2 class="govuk-heading-m">What we learned</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Users could easily navigate through the different sections of content and understood where to go to take action</li>
      <li>The question-answer format we used to get to the new status was intuitive and they had no issue with comprehension</li>
      <li>The word ‘timeline’ tested better than ‘claim history’ - users understood it to mean a chronological list of things that had happened during the claim</li>
      <li>‘Evidence required’ seemed to cause some confusion - one work coach wasn’t sure if that was a general list of evidence that we should see or a list of things we still need to see; another got mixed up between identity documents and evidence but that could be because we asked him questions about ID just before</li>
      <li>They’re keen to have something to refer back to – currently they don’t have much to look at before or after appointments and they don’t find out whether it’s been picked up for processing</li>
      <li>Work coaches read the claim form and overview as if it’s a real claim, so we should make the examples as realistic as possible</li>
      <li>Users can upload, although they do sometimes hesitate over which button to press</li>
      <li>One work coach was unsure on what to put in Notes: the other was clear on what to do</li>
    </ul>

    <h2 class="govuk-heading-m">Screens</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/wcv5/home?nino=QQ123456C&status=appointmentbooked">Appointment booked</a></li>
      <li><a href="/wcv5/home?nino=QQ123456C&status=fta">Failed to attend</a></li>
      <li><a href="/wcv5/home?nino=QQ123456C&status=verified">Verified</a></li>
      <li><a href="/wcv5/home?nino=QQ123456C&status=newappointmentneeded">New appointment needed</a></li>
      <li><a href="/wcv5/home?nino=QQ123456C&status=withdrawn">Withdrawn</a></li>
      <li><a href="/wcv5/home?nino=QQ123456C&status=processed">Processed</a></li>
      <li><a href="/wcv5/home?nino=QQ123456C&status=disallowed">Disallowed</a></li>    
    </ul>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}