{% extends "layout_master.html" %}

{% block pageTitle %}
  Work Coach view &ndash; Version 5 &ndash; Prototypes &ndash; {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="/proto-index" rel="prev" class="govuk-back-link">Back to prototypes for testing in user research</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Work Coach view – version 5</h1>

    <h2 class="govuk-heading-m">Screens</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="/wcv5/home">To follow</a></li>
    </ul>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}