{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "wcv5/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "wcv5/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "wcv5/_key-details.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="#" method="post">

      <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            <label for="notes">
            Notes
          </label>
          </h1>
        </legend>
        <div class="govuk-form-group">
          <span id="more-detail-hint" class="govuk-hint">
            Add a note if there is something the processing team should know. For example, if anything is missing or you are waiting for something.
          </span>
          <textarea class="govuk-textarea" id="notes" name="notes" rows="5"></textarea>
        </div>
      </fieldset>

      <div class="govuk-form-group">
        <a class="govuk-button" href="q-buffer-unverified-identity?status={{getData.status}}&nino={{getData.nino}}">Continue</a>
      </div>

    </form>

  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}