{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "wcv5/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "wcv5/_service-name.html" %}
{% endblock %}

{% block keyDetails %}
  {% include "wcv5/_key-details.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

{#     {% if getData.filename1 %} #}

      <h1 class="govuk-heading-l">Check the documents before you verify their claim</h1>

      <p>Links will open in a new window.</p>

      <ul class="govuk-list govuk-list--bullet">
        {% if getData.filename1 %}<li><a href="#">{{data.filename1}}</a></li>{% endif %}
        {% if getData.filename2 %}<li><a href="#">{{data.filename2}}</a></li>{% endif %}
        {% if getData.filename3 %}<li><a href="#">{{data.filename3}}</a></li>{% endif %}
      </ul>

{#     {% else %}

      <script>
        window.location = "notes?status=appointmentbooked&nino={{getData.nino}}&early={{getData.early}}";
      </script>

    {% endif %} #}


    <p style="margin-top: 40px"><a href="status-confirmation?status=verified&nino={{getData.nino}}&early={{getData.early}}" class="govuk-button">Verify their claim</a></p>

  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}