{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "wcv5/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "wcv5/_service-name.html" %}
{% endblock %}


{% block keyDetails %}
  {% include "wcv5/_key-details.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="status-changing" method="post">

      <div class="govuk-form-group">
        
        <fieldset class="govuk-fieldset">

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Change the status of this claim
          </h1>
        </legend>

        <input id="nino" name="nino" type="hidden" value="{{getData.nino}}">

          {# New appointment booked #}
          {% if getData.status === "fta" or getData.status === "unverified" or getData.status === "newappointmentneeded" %}
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="newappointmentbooked" name="status" type="radio" value="newappointmentbooked" aria-describedby="hint-newappointmentbooked">
                <label class="govuk-label govuk-checkboxes__label govuk-label--s" for="newappointmentbooked">
                  New appointment booked
                </label>
                <span id="hint-newappointmentbooked" class="govuk-hint govuk-radios__hint">An appointment has been added to the calendar.</span>
              </div>
            </div>
          {% endif %}
          
          {% if getData.status === "verified" %}
            {# Processed #}
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="processed" name="status" type="radio" value="processed" aria-describedby="hint-processed">
              <label class="govuk-label govuk-radios__label govuk-label--s" for="processed">
                Processed
              </label>
              <span id="hint-processed" class="govuk-hint govuk-radios__hint">A decision has been made and JSAPS has been updated.</span>
            </div>
            {# Disallowed #}
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="disallowed" name="status" type="radio" value="disallowed" aria-describedby="hint-disallowed" data-aria-controls="conditional-disallowed">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="disallowed">
                  Disallowed
                </label>
                <span id="hint-disallowed" class="govuk-hint govuk-radios__hint">A decision has been made to disallow this claim.</span>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-disallowed">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="reason-disallowed">
                    Enter the reason why
                  </label>
                  <textarea class="govuk-textarea" id="reason-disallowed" name="reason-disallowed" rows="5"></textarea>
                </div>
              </div>
            </div>{# /govuk-radios #}
            
          {% endif %}

        </fieldset>
      </div>{# /govuk-form-group #}

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </form>

  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}