{% extends "layout_staff.html" %}

{% block pageTitle %}
  Reason you are cancelling - Fred Flintstone - Apply for new style Employment and Support Allowance
{% endblock %}

{% set bodyClasses = "hero-header" %}

{% block content %}

{% include "wcv1/_header.html" %}

<div style="margin-bottom: 30px;">
  <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row container">

  <div class="govuk-grid-column-two-thirds">

    <form action="cancelled-logic" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Why are you cancelling this claim?
            </h1>
          </legend>

          <input id="nino" name="nino" type="hidden" value="{{getData.nino}}">

            <div class="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nocontact" name="reason" type="radio" value="nocontact" aria-describedby="hint-nocontact">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="nocontact">
                  No contact from applicant
                </label>
                <span id="hint-nocontact" class="govuk-hint govuk-radios__hint">We’ve not had any contact with the applicant for 30 days. They will need to complete another application&nbsp;form.</span>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="duplicate" name="reason" type="radio" value="duplicate" aria-describedby="hint-duplicate">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="duplicate">
                  Duplicate claim
                </label>
                <span id="hint-duplicate" class="govuk-hint govuk-radios__hint">They’ve filled in multiple application forms and confirmed that you can discard this one.</span>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="withdrawn" name="reason" type="radio" value="withdrawn" aria-describedby="hint-withdrawn">
                <label class="govuk-label govuk-radios__label govuk-label--s" for="withdrawn">
                  The applicant has withdrawn their claim
                </label>
                <span id="hint-duplicate" class="govuk-hint govuk-radios__hint">They’ve confirmed that they wish to cancel this claim. This may be because they have found work or their circumstances have changed.</span>
              </div>

            </div>{# /govuk-radios #}
          </fieldset>

      </div>{# /govuk-form-group #}

      {% from "textarea/macro.njk" import govukTextarea %}

      {{ govukTextarea({
        name: "comments",
        id: "comments",
        label: {
          text: "Comments"
        },
        hint: {
          text: "Provide a short summary of anything you think is useful."
        }
      }) }}

      <button type="submit" class="govuk-button">
        Confirm you want to cancel their application
      </button>

    </form>

  </div>{# /govuk-grid-column-two-thirds #}


</div>{# /govuk-grid-row #}

{% endblock %}