{% extends "layout_staff.html" %}

{% block pageTitle %}
  Claim summary - Fred Flintstone - Apply for ‘new style’ Employment and Support Allowance
{% endblock %}

{% set bodyClasses = "hero-header" %}

{% block content %}

{% include "wcv1/_header.html" %}

<div style="margin-bottom: 30px;">
  {% if origin === "cancelled" %}
      <a href="/wcv1/applications-cancelled" class="govuk-back-link">Back</a>
    {% elif origin === "duplicates" %}
      <a href="/wcv1/applications-duplicate-ninos" class="govuk-back-link">Back</a>
    {% else %}
      <a href="/wcv1/home" class="govuk-back-link">Back</a>
  {% endif %}
</div>

<div class="govuk-grid-row container">

  <div class="govuk-grid-column-two-thirds">

    {% if getData.sr %}

    <div class="govuk-inset-text alert-default" style="margin-top: 0;">
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Special rules
        </strong>
      </div>
    </div>

{#     <div class="orange-border">
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Special rules
        </strong>
      </div>
    </div> #}

    {% endif %}

    <h1 class="govuk-heading-l">Documents</h1>

    <p>Links to documents open in a new tab.</p>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="#">Claim form (pdf)</a></li>
{#       <li><a href="#">claimant_commitment (pdf)</a></li> #}
      <li><a href="#">scan01-56778 (pdf)</a></li>
      <li><a href="#">ff-fitnote-1234 (jpg)</a></li>
      <li><a href="#">ff-fn9 (jpg)</a></li>
      <li><a href="#">pension (jpg)</a></li>
    </ul>

    <p><a href="#" class="">Upload more documents</a></p>

    

  </div>{# /govuk-grid-column-two-thirds #}

  {% if getData.status === "cancelled" %}
  {% else %}

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items status-verified" role="complementary">
        <h3 class="govuk-heading-m" id="claim-actions-title">Claim actions</h3>
        <nav role="navigation" aria-labelledby="claim-actions-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li><a href="answers?nino={{getData.nino}}&amp;status={{getData.status}}">View or update the claim</a></li>
        </ul>
      </nav>
        <a href="status?nino={{getData.nino}}&amp;status={{getData.status}}" class="govuk-button">Change claim status</a>
      </aside>
    </div>{# /govuk-grid-column-one-third #}
  {% endif %}

</div>{# /govuk-grid-row #}

{% endblock %}