
{% extends "layout_staff.html" %}

{% block pageTitle %}
  Verify new claims - Apply for ‘new style’ Employment and Support Allowance
{% endblock %}

{% block beforeContent %}
<div class=""></div>
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
  
    <h1 class="govuk-heading-l">Claimant’s personal details</h1>

    <div class="govuk-form-group">
      <label class="govuk-label" for="first-name">
        First name
      </label>
      <input class="govuk-input govuk-input--width-20" id="first-name" name="width-20" type="text">
    </div>

    <div class="govuk-form-group">
      <label class="govuk-label" for="last-name">
        Last name
      </label>
      <input class="govuk-input govuk-input--width-20" id="last-name" name="width-20" type="text">
    </div>

{#     <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="passport-issued-hint" role="group">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Date of birth</legend>
        <span id="passport-issued-hint" class="govuk-hint">
          For example, 30 10 1982
        </span>
        <div class="govuk-date-input" id="passport-issued">
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                Day
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                Month
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="number" pattern="[0-9]*">
            </div>
          </div>
          <div class="govuk-date-input__item">
            <div class="govuk-form-group">
              <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                Year
              </label>
              <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="number" pattern="[0-9]*">
            </div>
          </div>
        </div>
      </fieldset>
    </div> #}{# /govuk-form-group #}

    <div class="govuk-form-group">
      <label class="govuk-label" for="nino">
        National Insurance number
      </label>
      <input class="govuk-input govuk-input--width-10" id="nino" name="width-10" type="text">
    </div>

{#     <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="width-10">
        Postcode
      </label>
      <input class="govuk-input govuk-input--width-10" id="width-10" name="width-10" type="text">
    </div> #}

    <a href="create-clerical-special-rules" class="govuk-button">Continue</a>


  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}