{% extends "layout_staff.html" %}

{% block pageTitle %}
  Apply for new style Employment and Support Allowance
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-6"></div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Work coach view (version 1) – to be tested</h1>

    <h2 class="govuk-heading-l">Screens to test</h2>

    <ol class="govuk-list govuk-list--number">
      <li><a href="/wcv1/home?nino=QQ123456C">Start screen (pre-populated unverified NINO)</a></li>
    </ol>

    <h2 class="govuk-heading-l">What we learned</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>To follow</li>
    </ul>
    
  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}