{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9 summary-view',
  rows: [
    {
      key: {text: "Application submitted"},
      value: {text: "15/10/2019"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Claim start date"},
      value: {text: "15/10/2019"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "First name"},
      value: {text: "Barney"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Last name"},
      value: {text: "Rubble"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "National Insurance number"},
      value: {text: "QQ 11 11 11 Z"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Date of birth"},
      value: {text: "11/06/1999"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: "name"}]}
    },
    {
      key: {text: "Postcode"},
      value: {text: "LS6 6UJ"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: "name"}]}
    }
  ]
})}}