{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-9 summary-view',
  rows: [
    {
      key: {text: "Application submitted"},
      value: {text: "20/03/2019"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Claim start date"},
      value: {text: "15/10/2019"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "First name"},
      value: {text: "Daffy"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Last name"},
      value: {text: "Duck"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "National Insurance number"},
      value: {text: "QQ 22 22 33 V"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: ""}]}
    },
    {
      key: {text: "Date of birth"},
      value: {text: "01/01/1988"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: "name"}]}
    },
    {
      key: {text: "Postcode"},
      value: {text: "LS10 4DD"},
      actions: {items: [{ href: "", text: "", visuallyHiddenText: "name"}]}
    }
  ]
})}}