{% extends "layout_staff.html" %}

{% block pageTitle %}
  Apply for new style Employment and Support Allowance
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-6"></div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Scenarios for user research in Belfast</h1>

    <h2 class="govuk-heading-m">Inbox checkers</h2>

    <ol class="govuk-list govuk-list--number">
      <li><a href="v1/search?nino=QQ123456C">Attended interview, all documentation is present</a></li>
      <li><a href="v1/search?nino=QQ111111Z">Another attended interview, all documentation is present</a></li>
      <li><a href="v1/search?nino=QQ001122A">Attended interview, some documentation missing</a></li>
      <li><a href="v1/search?nino=QQ123456Z">No matches for the National Insurance number</a></li>
      <li><a href="v1/search?nino=QQ111122B">Failed to attend</a></li>
      <li><a href="v1/search?nino=QQ010101A">National Insurance number returns multiple applications</a></li>
      <li><a href="v1/search?nino=QQ112233A">Special rules case</a></li>
      <li><a href="v1/search?nino=QQ112233M">Previously marked as failed to attend</a></li>
      <li><a href="v1/search?nino=QQ112233Z">Unable to verify</a></li>
      <li><a href="v1/search?nino=QQ111122G">Failed to attend for the second time</a></li>
      <li><a href="v1/search?nino=QQ121212A">No matches for the National Insurance number (claimant never filled out application form</a></li>
    </ol>

    <h2 class="govuk-heading-m">Registration team</h2>

    <ol class="govuk-list govuk-list--number">
      <li><a href="v1/search?nino=QQ222233V">Verified example</a></li>
    </ol>

    <h2 class="govuk-heading-m">Processors</h2>

    <ol class="govuk-list govuk-list--number">
      <li><a href="pdf-application">PDF application</a></li>
    </ol>
    
  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}