{% extends "layout_staff.html" %}

{% block pageTitle %}
  Update status - Fred Flintstone - Apply for new style Employment and Support Allowance
{% endblock %}

{% set bodyClasses = "hero-header" %}

{% block content %}

{% include "v1/_header.html" %}

<div style="margin-bottom: 30px;">
  {{ govukBackLink({
    text: "Back",
    href: "applicant"
  }) }}
</div>

<div class="govuk-grid-row container">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Download the PDF and upload it to&nbsp;DRS</h1>

    <p>Content to be confirmed. Instructions will be here.</p>
    <a href="status-confirmation?status=verified&amp;nino={{getData.nino}}" class="govuk-button">Confirm and mark as verified</a>
    
  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}