{% extends "layout_staff.html" %}

{% block pageTitle %}
  Status updated - Fred Flintstone - Apply for new style Employment and Support Allowance
{% endblock %}

{% set bodyClasses = "hero-header" %}

{% block content %}

<div class="full-width govuk-hero">
  <div class="full-width-inner">
    <section class="dwp-key-details-bar dwp-print-hide" role="contentinfo" aria-label="Key details">
  <dl class="dwp-key-details-bar__contents govuk-width-container">
    <div class="dwp-key-details-bar__header">
      <dt class="govuk-visually-hidden">Name:</dt>
      <dd class="dwp-key-details-bar__name">Fred Flintstone</dd>
      <dt class="govuk-visually-hidden">National Insurance number:</dt>
      <dd class="dwp-key-details-bar__nino">QQ 12 34 56 C</dd>
      <dt class="govuk-visually-hidden">Status:</dt>
      <dd class="dwp-key-details-bar__status">
        {% if getData.verified %}
          Verified
        {% elif getData.failedtoattend %}
          Failed to attend
        {% else %}
          Unverified
        {% endif %}
      </dd>
    </div>
  </dl>
</section>
  </div>{# /full-width-inner #}
</div>{# /full-width #}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full govuk-!-margin-top-4">

    {% if getData.verified %}
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-2 govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">Claim verified </h1>
        <div class="govuk-panel__body">You have successfully verified Fred Flintstone’s claim.</div>
      </div>
      <a href="search?unverified=true" role="button" draggable="false" class="govuk-button">Find another claim</a>
    
    {% elif getData.failedtoattend %}
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-2 govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">Failed to attend</h1>
        <div class="govuk-panel__body">You have marked Fred Flintstone as failed to attend.</div>
      </div>
      <a href="search" role="button" draggable="false" class="govuk-button">Find another claim</a>
{#     {% elif getData.readytobeprocessed %}
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-2 govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">Ready to be processed</h1>
        <div class="govuk-panel__body">You have successfully sent Fred Flintstone’s claim to be processed.</div>
      </div>
      <a href="search?verified=true" role="button" draggable="false" class="govuk-button">Find another claim</a>
    {% elif getData.processed %}
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-2 govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">Claim processed</h1>
        <div class="govuk-panel__body">You have made a decision and processed Fred Flintstone’s claim.</div>
      </div>
      <a href="search?readytobeprocessed=true" role="button" draggable="false" class="govuk-button">Find another claim</a>
    {% else %}
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-2 govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">Claim unverified</h1>
        <div class="govuk-panel__body">You have successfully changed the status of Fred Flintstone’s claim.</div>
      </div>
      <a href="search?unverified=true" role="button" draggable="false" class="govuk-button">Find another claim</a> #}
    {% endif %}

  </div>{# /govuk-grid-column-full #}

</div>{# /govuk-grid-row #}

{% endblock %}