{% extends "layout_staff.html" %}

{% block pageTitle %}
  Status updated - Fred Flintstone - Apply for new style Employment and Support Allowance
{% endblock %}

{% set bodyClasses = "hero-header" %}

{% block content %}

{% include "v1/_header.html" %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full govuk-!-margin-top-4">

    {% if getData.status === "verified" %}
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-2 govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">Claim verified </h1>
        <div class="govuk-panel__body">You have successfully verified this claim.</div>
      </div>
      <a href="search?unverified=true" role="button" draggable="false" class="govuk-button">Find another claim</a>
    {% elif getData.status === "failedtoattend" %}
      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-2 govuk-!-margin-bottom-6">
        <h1 class="govuk-panel__title">Failed to attend</h1>
        <div class="govuk-panel__body">You have marked this as failed to attend.</div>
      </div>
      <a href="search" role="button" draggable="false" class="govuk-button">Find another claim</a>

    {% endif %}

  </div>{# /govuk-grid-column-full #}

</div>{# /govuk-grid-row #}

{% endblock %}