{% extends "layout_master.html" %}

{% block pageTitle %}
  Apply for new style Employment and Support Allowance
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="/proto-index" rel="prev" class="govuk-back-link">Back to prototypes for testing in user research</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Version 3 – BA visit on 16&nbsp;May to&nbsp;Burnley</h1>

    <h2 class="govuk-heading-m">Changes in this version</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Removed ‘fail to attend’ status</li>
      <li>Content made clearer to show that action is required by the agent before the claim can be verified, with a checkbox added to ensure action is taken before moving on</li>
      <li>Changed the definition of ‘verified’ – this is now based on proving identity, rather than supplying all evidence needed</li>
      <li>Added the time next to the date that the application was submitted</li>
      <li>Designed validation messages for testing</li>
</ul>

    <h2 class="govuk-heading-m">Screens discussed</h2>

    <h3 class="govuk-heading-s">Search</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="search?nino=QQ123456C">Search</a></li>
      <li><a href="search-not-found?nino=QQ123456C">Search no results found</a></li>
      <li><a href="search-validation">Search validation message</a></li>
      <li><a href="search-multiple-results">Multiple results found</a></li>
    </ul>

    <h3 class="govuk-heading-s">Claims</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="applicant?nino=QQ123456C&status=unverified">Claimant summary (unverified)</a></li>
      <li><a href="applicant?nino=QQ123456C&status=unverified&sr=true">Claimant summary with ‘special rules’ (unverified)</a></li>
      <li><a href="applicant?nino=QQ123456C&status=verified">Claimant summary (verified)</a></li>
      <li><a href="status?nino=QQ123456C&status=unverified">Change status</a></li>
      <li><a href="status-validation?nino=QQ123456C&status=unverified">Change status validation</a></li>
      <li><a href="pdf?nino=QQ123456C&status=unverified">Before you can verify</a></li>
      <li><a href="pdf-validation?nino=QQ123456C&status=unverified">Before you can verify validation</a></li>
      <li><a href="status-confirmation?status=verified&nino=QQ123456C">Confirmation (claim verified)</a></li>
    </ul>

    <h2 class="govuk-heading-m">What we learned</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Staff were concerned that the ‘special rules’ banner might get missed and suggested it should be made more prominent</li>
      <li>Processors in Burnley won’t be uploading the PDF until the application has been processed (this is different to the process we thought would happen in Belfast)</li>
    </ul>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}
