{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "wcv3/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "wcv3/_service-name.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="/wcv3/add-clerical-upload-claim-form" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do special rules apply for this claimant?
            </h1>
          </legend>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-1" name="specialrules" type="radio" value="Yes">
              <label class="govuk-label govuk-radios__label" for="changed-name-1">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changed-name-2" name="specialrules" type="radio" value="No">
              <label class="govuk-label govuk-radios__label" for="changed-name-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button">Continue</button>

    </form>

  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}