{% extends "layout_staff_v3.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class=""></div>
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <form action="/wcv3/add-clerical-special-rules" method="post">
  
      <h1 class="govuk-heading-l">Claimant’s personal details</h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="first-name">
          First name
        </label>
        <input class="govuk-input govuk-input--width-20" id="first-name" name="firstname" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="last-name">
          Last name
        </label>
        <input class="govuk-input govuk-input--width-20" id="last-name" name="lastname" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="nino">
          National Insurance number
        </label>
        <input class="govuk-input govuk-input--width-10" id="nino" name="nationalinsurance" type="text">
      </div>

      <button type="submit" class="govuk-button">Continue</button>

    </form>

  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}