{% extends "layout_staff_v3.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% set bodyClasses = "hero-header" %}

{% block content %}

{% include "wcv3/_header.html" %}

<div style="margin-bottom: 30px;">
  <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
</div>

<div class="govuk-grid-row container">

  <div class="govuk-grid-column-two-thirds">

    <main class="govuk-main-wrapper " id="main-content" role="main">

      <h1 class="govuk-heading-l">Claim form</h1>

      {% include "wcv3/_claim-form-answers.html" %}

      <p style="margin-top: -20px">
      	<a href="javascript:history.back()" rel="prev">Back to claim summary</a>
      </p>

    </main>

  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}