{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "wcv3/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "wcv3/_service-name.html" %}
{% endblock %}


{% block keyDetails %}
  {% include "wcv3/_key-details.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <main class="govuk-main-wrapper " id="main-content" role="main">

      <h1 class="govuk-heading-l">Claim form</h1>

      {% include "wcv3/_claim-form-answers.html" %}

      <p style="margin-top: -20px">
      	<a href="javascript:history.back()" rel="prev">Back to claim summary</a>
      </p>

    </main>

  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}