{% extends "layout_master.html" %}

{% block pageTitle %}
  Work coach view &ndash; Version 3 &ndash; Prototypes &ndash; {{ serviceName }}
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="/proto-index" rel="prev" class="govuk-back-link">Back to prototypes for testing in user research</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Work coach view – version 3</h1>

    <h2 class="govuk-heading-m">Changes in this version</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>Shorted hint text for status radio buttons</li>
      <li>Could not be verified – made it clearer who was booking the appointment</li>
      <li>Could not be verified – removed reference to the Universal Credit diary</li>
      <li>Darken special rules background</li>
      <li>Change ‘claim history’ to ‘timeline’</li>
      <li>Re-order timeline so latest is at the top</li>
      <li>Add job role and location in the blue summary box (‘marked as failed to attend’ etc)</li>
      <li>Updated styling of content in the blue summary box so it matches that of the timeline</li>
      <li>Added back to claim summary link on the full clam screen</li>
      <li>Added confirmation step before withdrawing a claim</li>
    </ul>

    <p><a href="/wcv3/home">Link to home</a></p>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}