{% extends "layout-staff.html" %}

{% block pageTitle %}
  {% include "wcv3/_service-name.html" %}
{% endblock %}

{% block serviceName %}
  {% include "wcv3/_service-name.html" %}
{% endblock %}


{% block keyDetails %}
  {% include "wcv3/_key-details.html" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="javascript:history.back()" rel="prev" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Timeline</h1>

      <ol class="dwp-timeline govuk-list">
        <li class="dwp-timeline__entry">
          <h3 class="dwp-timeline__title">Status changed to ‘appointment booked’</h3>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__author">by John Smith, Work Coach at Rotherham Jobcentre Plus</span>
            <span class="dwp-timeline__date">21 July 2019 at 5pm</span>
          </p>
        </li>
        <li class="dwp-timeline__entry">
          <h3 class="dwp-timeline__title">Status changed to ‘new appointment needed’</h3>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__author">by Paul Graham, Work Coach at Rotherham Jobcentre Plus</span>
            <span class="dwp-timeline__date">17 July 2019 at 3pm</span>
          </p>
          <p class="dwp-timeline__body">
            Claimant couldn’t prove their identity, so a follow up appointment is needed.
          </p>
        </li>
        <li class="dwp-timeline__entry">
          <h3 class="dwp-timeline__title">Status changed to ‘appointment booked’</h3>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__author">by John Smith, PAC at Rotherham Jobcentre Plus</span>
            <span class="dwp-timeline__date">13 July 2019 at 5pm</span>
          </p>
          <p class="dwp-timeline__body">
            Marriage certificate uploaded to DRS.
          </p>
        </li>
        <li class="dwp-timeline__entry">
          <h3 class="dwp-timeline__title">Claim submitted</h3>
          <p class="dwp-timeline__info">
            <span class="dwp-timeline__date">12 July 2019 at 1:02pm</span>
          </p>
        </li>
      </ol>
    
  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}