{% extends "layout_master.html" %}

{% block pageTitle %}
  Iteration 2 &ndash; Reference screens &ndash; {{ serviceName }}
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="/dev-index" rel="prev" class="govuk-back-link">Back to reference screens for JIRA stories</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Agent user interface (iteration 2)</h1>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="applicant?nino=QQ123456C&status=unverified&sr=true">Claimant summary with ‘special rules’</a><br>Features new styling for special rules message and link to PDF</li>
      <li><a href="no-access">Message displayed to users who don’t have access</li>
    </ul>
    
  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}