{% extends "layout_staff_v1.html" %}

{% block pageTitle %}
  Apply for new style Employment and Support Allowance
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-6"></div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Agent user interface (iteration 2)</h1>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="applicant?nino=QQ123456C&status=unverified&sr=true">Claimant summary with ‘special rules’</a><br>Features new styling for special rules message and link to PDF</li>
      <li><a href="no-access">Message displayed to users who don’t have access</li>
    </ul>
    
  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}