
{% extends "layout_staff_v1.html" %}

{% block pageTitle %}
  Find a claim - Apply for ‘new style’ Employment and Support Allowance
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-bottom-6"></div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Sorry, you don’t have permission to access this service</h1>

    <p>If you think you should have access, contact the digital team on [phone number here].</p>

  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}