{% extends "layout-staff.html" %}

{% block pageTitle %}
  Apply for ‘new style’ Employment and Support Allowance
{% endblock %}

{% block serviceName %}
  {% include "iteration-2/_service-name.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Sorry, you don’t have permission to access this service</h1>

    <p>If you think you should have access, contact the digital team on [phone number here].</p>

  </div>{# /govuk-grid-column-two-thirds #}

</div>{# /govuk-grid-row #}

{% endblock %}