{% extends "layout_master.html" %}

{% block pageTitle %}
  Reference screens for JIRA stories &ndash; {{ serviceName }}
{% endblock %}

{% block content %}

<div style="margin-bottom: 30px;">
  <a href="index" rel="prev" class="govuk-back-link">Index page</a>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Reference screens for JIRA stories</h1>

    <div class="blue-border" style="margin-bottom: 40px">
      <h2 class="govuk-heading-m">
        <span class="app-step-nav-related__pretitle">MVP</span>
      </h2>
      <p>
        <a href="/mvp/search?nino=QQ123456C" class="govuk-button" style="margin-bottom: 0">View latest MVP</a>
      </p>
      <p><a href="/mvp/" style="margin-bottom: 0">List of screens</a></p>
    </div>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="pdf-application">PDF design reference</a></li>
      <li><a href="list-view-v1">List view of unverified claims (for Gareth)</a></li>
      <li><a href="iteration-1/">Iteration 1</a></li>
      <li><a href="iteration-2/">Iteration 2</a></li>
    </ul>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}