{% extends "layout_staff.html" %}

{% block pageTitle %}
  Apply for new style Employment and Support Allowance
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-bottom-6"></div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Scenarios for user research in Belfast</h1>

    <h2 class="govuk-heading-m">Inbox checkers</h2>

    <ol class="govuk-list govuk-list--number">
      <li><a href="v1/search?nino=QQ123456C">Attended interview, all documentation is present</a></li>
      <li><a href="v1/search?nino=QQ111111Z">Another attended interview, all documentation is present</a></li>
      <li><a href="v1/search?nino=QQ001122A">Attended interview, some documentation missing</a></li>
      <li><a href="v1/search?nino=QQ123456Z">No matches for the National Insurance number</a></li>
      <li><a href="v1/search?nino=QQ111122B">Failed to attend</a></li>
      <li><a href="v1/search?nino=QQ010101A">National Insurance number returns multiple applications</a></li>
      <li><a href="v1/search?nino=QQ112233A">Special rules case</a></li>
    </ol>

    <h2 class="govuk-heading-m">Registration team</h2>

    <ol class="govuk-list govuk-list--number">
      <li><a href="v1/search?nino=QQ222233V">Verified example</a></li>
    </ol>

   

   {#  <h1 class="govuk-heading-l">Staff user interface</h1>

    <h2 class="govuk-heading-m">Reference screens for developers</h2>

    <h3 class="govuk-heading-s">Search</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="reference/search">Search</a></li>
      <li><a href="reference/search-not-found">Search - claimant not found</a></li>
      <li><a href="reference/search-validation">Search - non valid National Insurance number</a></li>
    </ul>

    <h3 class="govuk-heading-s">Application summary</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="reference/applicant">Application - unverified</a></li>
      <li><a href="reference/applicant?failedtoattend=true">Application - failed to attend</a></li>
      <li><a href="reference/applicant?verified=true">Application - verified</a></li>
    </ul>

    <h3 class="govuk-heading-s">Change status</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="reference/status?unverified=true">Status - unverified</a></li>
      <li><a href="reference/status?failedtoattend=true">Status - failed to attend</a></li>
      <li><a href="reference/status?verified=true">Status - verified</a></li>
    </ul>

    <h3 class="govuk-heading-s">Status changed</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="reference/status-confirmation?unverified=true">Status changed - unverified</a></li>
      <li><a href="reference/status-confirmation?failedtoattend=true">Status changed - failed to attend</a></li>
      <li><a href="reference/status-confirmation?verified=true">Status changed - verified</a></li>
    </ul> #}

    
  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}