{% extends "layout_master.html" %}

{% block pageTitle %}
  Prototypes &ndash; {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-!-margin-bottom-5">
    <a href="index" rel="prev" class="govuk-back-link">Index page</a>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l"> Prototypes for testing in user research</h1>

    <h2 class="govuk-heading-m">Processing centre</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="v1">Version 1</a><br>
      14 February 2019, Belfast
      </li>
      <li><a href="v2">Version 2</a><br>
      9 April 2019, Belfast
      </li>
      <li><a href="v3/">Version 3 (BA visit)</a><br>
        16 May 2019, Burnley
      </li>
      <li><a href="v4">Version 4</a><br>
        30 May 2019, Burnley
      </li>
      <li><a href="v5">Version 5</a><br>
        25 June 2019 (not tested with users)<br>
        <span style="color: #6f777b">Built for exploration and feedback from stakeholders</span> 
      </li>
    </ul>

    <h2 class="govuk-heading-m">Jobcentre</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="wcv1/index">Work coach view – version 1</a><br>
      18 July 2019, Hull Jobcentre Plus
      </li>
      <li><a href="wcv2/index">Work coach view – version 2</a><br>
      5 August 2019, Rotherham Jobcentre Plus 
      </li>
      <li><a href="wcv3/index">Work coach view – version 3</a><br>
      (not tested)
      </li>
      <li><a href="wcel/index">Email link testing</a><br>
      4 September 2019, Seacroft Jobcentre Plus
      </li>
      <li><a href="wcv4/index">Work coach view – version 4 (disregarded in favour of version 5)</a><br>
      (not tested)
      </li>
      <li><a href="wcv5/index">Work coach view – version 5</a><br>
      4 September 2019, Seacroft Jobcentre Plus
      </li>
    </ul>

  </div>{# /govuk-grid-column-two-thirds #}
</div>{# /govuk-grid-row #}

{% endblock %}