{% extends "layout_staff.html" %}

{% block pageTitle %}
  Apply for new style Employment and Support Allowance
{% endblock %}

{% block beforeContent %}
<div class="govuk-!-margin-bottom-6"></div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <h1 class="govuk-heading-l">Staff user interface</h1>

    <h2 class="govuk-heading-m">Screens to use for user research</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a href="reference/search?unverified=true">Inbox checker</a></li>
      <li><a href="reference/search?verified=true">Registration team</a></li>
      <li><a href="reference/search?readytobeprocessed=true">Processor</a></li>
    </ul>
    
  </div>{# /govuk-grid-column-one-half #}
</div>{# /govuk-grid-row #}

{% endblock %}